@font-face {
    font-family: 'SofiaSans-ExtraLight'; /* Name of font */
    src: url('../fonts/SofiaSans-ExtraLight.woff2') format('woff2'); /*source url */
    font-weight: 200; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-Light'; /* Name of font */
    src: url('../fonts/SofiaSans-Light.woff2') format('woff2'); /*source url */
    font-weight: 300; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-SemiBold'; /* Name of font */
    src: url('../fonts/SofiaSans-SemiBold.woff2') format('woff2'); /*source url */
    font-weight: 600; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-Bold'; /* Name of font */
    src: url('../fonts/SofiaSans-Bold.woff2') format('woff2'); /*source url */
    font-weight: 700; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-ExtraBold'; /* Name of font */
    src: url('../fonts/SofiaSans-ExtraBold.woff2') format('woff2'); /*source url */
    font-weight: 800; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-Black'; /* Name of font */
    src: url('../fonts/SofiaSans-Black.woff2') format('woff2'); /*source url */
    font-weight: 900; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}


:root {
    --color-bg: #000000;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #EDEAE8;
    --color-text-orange: #FF9447;
    --color-text-gradient: linear-gradient(137deg, #ff9447 0%, #ff510b 100%);
    --color-button-gradient: linear-gradient(137deg, #ff9447 0%, #ff510b 100%);
    --color-button-hover: linear-gradient(137deg, #ff510b 0%, #ff9447 100%);
    --color-button-click: linear-gradient(137deg, #35DA8B 0%, #057B42 100%);

    --box-shadow-outer-large: 1.5vw 0.5vw 1vw 0 rgba(0, 0, 0, 0.5), inset 1vw 1vw 2vw 0 rgba(255, 255, 255, 0.25), inset -1vw -1vw 3vw 0 rgba(0, 0, 0, 0.6);
    --box-shadow-outer-small: 6px 6px 12px 0 rgba(0, 0, 0, 0.45), inset 8px 4px 12px 0 rgba(255, 255, 255, 0.35), inset -8px -4px 12px 0 rgba(0, 0, 0, 0.75);
    --box-shadow-outer-mobile: 0vw 0vw 3vw 0 rgba(0, 0, 0, 0.6), inset 4vw 4vw 4vw 0 rgba(255, 255, 255, 0.25), inset -4vw -4vw 2vw 0 rgba(0, 0, 0, 0.4);

    --box-shadow-inner-small: 0 -0.2vw 0.7vw 0 rgba(255, 255, 255, 0.1), 0 0 0.4vw 0 rgba(255, 255, 255, 0.05), inset 0 -0.6vw 0.5vw 0 rgba(0, 0, 0, 0.1), inset 0.6vw 0 0.5vw 0 rgba(0, 0, 0, 0.4);
    --box-shadow-inner-mobile: 0.5vw -0.2vw 0.5vw 0 rgba(255, 255, 255, 0.1),inset -0.5vw -1vw 2vw 0 rgba(255, 255, 255, 0.15), inset 0 1vw 0.5vw 0.8vw rgba(0, 0, 0, 0.1), inset 2vw 0 0.6vw 0 rgba(0, 0, 0, 0.2);

    --backdrop-filter-blur-mobile: 0.7vw;
    --backdrop-filter-blur-large: 0.4vw;

    --border-radius-large: 5vw;
    --border-radius-small: 20px;
}

body {
    background-image: url('../img/bg/bg_1920x1080.png');
    font-size: 4px;
    margin: 0;
    background-color: var(--color-bg); /* Задаем цвет фона */
    background-size: cover; /* Устанавливает размер изображения на покрытие всего экрана */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center center; /* Центрирует изображение */
    background-attachment: fixed; /* Фиксирует изображение относительно видимой области экрана */
    }
.container {
    margin: 0 12vw;
    padding: 4vw 5vw;
    border-radius: var(--border-radius-large);
    backdrop-filter: blur(var(--backdrop-filter-blur-large));
    box-shadow:  var(--box-shadow-outer-large);
    background: hsl(0, 0%, 0%, 0.15);
}

/* Стили для header */
.header {
    margin-bottom: 3vw;
    padding: 1.5vw 1.5vw;
    border-radius: 1.5vw;
    box-shadow: var(--box-shadow-inner-small);
    position: relative;
}
.header .logo {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row;
    align-items: center;
    gap: 1vw;

}
.header .logo .brand-icon {
    width: calc(5em + 1.6vw);
    height: calc(5em + 1.9vw);
    background-image: url('../img/icon/logo_256.svg'); /* URL изображения */
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */
    filter: drop-shadow(0 0 3em #ff9500) drop-shadow(0 0 2em #ff7d00); /* Эффект тени под иконкой */
}
.header .logo .brand-name {
    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-size: calc(2em + 2.15vw);
    background: var(--color-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hamburger-menu {
    margin-left: auto;
    cursor: pointer;
}
.hamburger-menu-icon {
    fill: var(--color-text-orange);
    width: calc(3em + 1.6vw);
    height: calc(3em + 1.9vw);
}

.hamburger-head {
    display: flex; /* Используем flexbox для расположения элементов */
    justify-content: space-between;

}
.hamburger-head.hidden {
    display: none;

}

/*Модальное меню */
.modal-head {
    display: none;

}
.modal-head.open {
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}

.modal-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    gap: calc(2em + 0.75vw);
}
.menu-nav a {
    text-decoration: none;
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 120%;
    letter-spacing: 0.08em;
    font-variant: small-caps;
    font-size: calc(2em + 1.15vw);
    color: var(--color-text-primary);
}
.lang-switch {
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */

    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    font-variant: small-caps;
    line-height: 90%;
    letter-spacing: 0.05em;
    cursor: pointer;

    border-radius: 50%;
    border-style: none;
    background: var(--color-text-orange);

    width: calc(1.5em + 0.9vw);
    height: calc(1.5em + 0.9vw);
    font-size: calc(1.5em + 0.35vw);
}
.close-icon {
    fill: var(--color-text-orange);
    width: calc(2em + 1.6vw);
    height: calc(2em + 1.9vw);
    cursor: pointer;

}

/* Контент  страницы */
.content {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: column; /* Располагаем полоски по вертикали */
    align-items: center;
    width: 100%;
    gap: 5vw;

}

.page-title {
    font-family: 'SofiaSans-ExtraLight', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.15em;
    font-variant: small-caps;
    text-align: center;
    font-size: calc(5em + 2vw);
    color: var(--color-text-primary);
}

/*----------------------------------------------------------------*/
/* Контент  главной страницы (index.html)*/
.header .logo-main {
    display: none;

}

.brand {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: column; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    gap: 4vw;
}
.brand-icon {
    width: calc(10em + 12.5vw);
    height: calc(10em + 12.5vw);
    background-image: url('../img/icon/logo_256.svg'); /* URL изображения */
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */
    filter: drop-shadow(0 0 40px #ff9500) drop-shadow(0 0 16px #ff7d00); /* Эффект тени под иконкой */
}
.brand-txt {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: column; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по правому краю */
}
.brand-name {
    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    font-size: calc(3em + 7.2vw);
    background: var(--color-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.brand-slogan {
    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-size: calc(3em + 2.75vw);
    color: var(--color-text-orange);

}

.dynamic {
    display: flex; /* Используем flexbox для расположения полосок */
    align-items: center; /* Выравниваем полоски по горизонтали по центру */
    justify-content: center;
    min-height: calc(7em + 4.75vw);
    margin-top: 3vw;

}
.dynamic-txt {
    font-family: 'SofiaSans-ExtraLight', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.03em;
    font-variant: small-caps;
    font-size: calc(6em + 4.25vw);
    text-align: right;
    color: var(--color-text-secondary);
}

.description-main {
    display: flex; /* Используем flexbox для расположения полосок */
    align-items: center; /* Выравниваем полоски по горизонтали по центру */
    justify-content: center;
    margin: 10vw 5vw 0 5vw;
}
.description-main p {
    font-family: 'SofiaSans-Bold', sans-serif; /* Применение шрифта */
    line-height: 117%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    font-size: calc(1em + 0.85vw);
    color: var(--color-text-primary);
    text-align: center;
    text-indent: 0;
}

/*----------------------------------------------------------------*/
/* Контент  `Про меня` страница (about.html)*/
.page-title {
    margin: 0;

}

.blocks-about {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}
.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vw;
}
.about-img {
    width: 20vw;
    height: 20vw;
    border-radius: 10%;
    box-shadow: 0 -3px 10px 0 rgba(255, 255, 255, 0.05), 0 0 10px 0 rgba(255, 255, 255, 0.1), inset 0 2px 5px 0 rgba(0, 0, 0, 0.5), inset 0 -2px 5px 0 rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.15);
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */

}

.about-img[data-img="1"] {
    background-image: url('../img/about/img_1.webp'); /* URL изображения */

}
.about-img[data-img="2"] {
    background-image: url('../img/about/img_2.webp'); /* URL изображения */

}
.about-img[data-img="3"] {
    background-image: url('../img/about/img_3.webp'); /* URL изображения */

}


.about-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;

}
.about-title-block {
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 115%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    width: 55vw;
    font-size: calc(2em + 1.1vw);
    color: var(--color-text-orange);
    text-align: left;

}
.about-text-block {
    width: 100%;
    font-family: 'SofiaSans-SemiBold', sans-serif; /* Применение шрифта */
    line-height: 120%;
    letter-spacing: 0.11em;
    font-variant: small-caps;
    font-size: calc(2em + 0.7vw);
    color: var(--color-text-primary);
    text-align: left;
    text-indent:2em;

    /* Включение автоматического переноса слов */
      hyphens: auto;
      -ms-hyphens: auto; /* Это свойство поддерживается в старых версиях IE */
      word-break: break-word; /* Для переноса слов */

}

/*----------------------------------------------------------------*/
/* Контент  `Занятия` страница (exercise.html)*/
.blocks-exercise {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
}
.exercise-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}
.exercise-img {
    width: 15vw;
    height: 15vw;
    border-radius: 10%;
    box-shadow: 0 -3px 10px 0 rgba(255, 255, 255, 0.05), 0 0 10px 0 rgba(255, 255, 255, 0.1), inset 0 2px 5px 0 rgba(0, 0, 0, 0.5), inset 0 -2px 5px 0 rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.15);
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */

}
.exercise-title {
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 115%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    max-width: 13vw;
    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:2;
	overflow: hidden;
	text-align: center;
    font-size: calc(1em + 1vw);
    color: var(--color-text-secondary);
    text-align: center;

}
.description {
    font-family: 'SofiaSans-SemiBold', sans-serif; /* Применение шрифта */
    line-height: 115%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    max-width: 55vw;
    font-size: calc(2em + 0.7vw);
    color: var(--color-text-secondary);
    text-indent:2em;

    /* Включение автоматического переноса слов */
/*    hyphens: auto;
/*    -ms-hyphens: auto; /* Это свойство поддерживается в старых версиях IE */
/*    word-break: break-word; /* Для переноса слов */

}

/*----------------------------------------------------------------*/
/* Контент  `Описание занятий` страница (p-exercise.html)*/
.blocks-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
}
.page-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}
.page-img {
    width: 60%;
    height: auto;
    border-radius: 10%;
    box-shadow: 0 -3px 10px 0 rgba(255, 255, 255, 0.05), 0 0 10px 0 rgba(255, 255, 255, 0.1), inset 0 2px 5px 0 rgba(0, 0, 0, 0.5), inset 0 -2px 5px 0 rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.15);
     overflow: hidden; /* Это необходимо, чтобы изображение не выходило за границы блока с радиусом */
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение будет обрезано, чтобы заполнить контейнер, сохраняя пропорции */
    border-radius: 10%; /* Применяем скругление к изображению */
}
.page-text {
    font-family: 'SofiaSans-SemiBold', sans-serif; /* Применение шрифта */
    line-height: 115%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    max-width: 45vw;
    height: auto;
    font-size: calc(3em + 0.4vw);
    color: var(--color-text-secondary);
    text-indent:2em;

    /* Включение автоматического переноса слов */
    hyphens: auto;
    -ms-hyphens: auto; /* Это свойство поддерживается в старых версиях IE */
    word-break: break-word; /* Для переноса слов */

    /*Подложка под текст */
    padding: 3vw;
    border-radius: 2vw;
    box-shadow: var(--box-shadow-inner-small);
    background: rgba(0, 0, 0, 0.2);
}

/*--------------------------------*/
/* Стили кнопки */
.button {
    display: inline-block;
    padding: 1em 3em;
    margin: 2vw;
    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 120%;
    letter-spacing: 0.11em;
    font-variant: small-caps;
    font-size:calc(2em + 0.75vw);
    color: var(--color-text-primary);
    background: var(--color-button-click);
    box-shadow: var(--box-shadow-outer-small);

    border: none;
    border-radius: 0.8vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
/* Стили при наведении */
.button:hover {


}
/* Стили при фокусировке */
.button:focus {
    outline: none;
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.45), inset 8px 4px 12px 0 rgba(255, 255, 255, 0.35), inset -8px -4px 12px 0 rgba(0, 0, 0, 0.75);

}
/* Стили при нажатии */
.button:active {
    transition: background-color 0.1s ease;
    background: var(--color-button-gradient);
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.45), inset 8px 4px 12px 0 rgba(255, 255, 255, 0.35), inset -8px -4px 12px 0 rgba(0, 0, 0, 0.75);

}


/*----------------------------------------------------------------*/
/* Контент Блог страница (blog.html)*/
.blocks-blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
}
.article-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    width: 14vw;
    border-radius: 1vw;
    gap: 2vw;
    box-shadow: var(--box-shadow-inner-small);
}
.image-container {
    position: relative;
    width: 12vw; /* Соответствует ширине .article-img */
    height: 12vw; /* Соответствует высоте .article-img */
}
.article-img {
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    background: rgba(255, 255, 255, 0.65);
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */
}
.article-type-icon {
    position: absolute;
    bottom: -5%;
    right: -5%;
    width: calc(3em + 2.6vw);
    height: calc(3em + 1.9vw);
    fill: var(--color-text-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article-title {
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 115%;
    letter-spacing: 0.12em;
    font-size: calc(1em + 0.78vw);
    color: var(--color-text-secondary);
}
.article-title p {
    max-width: 12vw;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: center;
}

/* Стили для видео статьи */
.video-container {
    width: 100%;
    max-width: 43vw;
    margin: 20px auto; /* Центрируем видео */
    position: relative;
    padding-bottom: 50%; /* Отношение сторон 16:9 */
    height: 0;
    overflow: hidden; /* Скрываем части, выходящие за границы контейнера */
    border-radius: var(--border-radius-small)
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Убираем рамку */
}


/*--------------------------------*/
/* Стили для пагтнации */
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2vw 1vw;
    width: auto;
    height: 0.5vw;
    border-radius: 0.4vw;
    box-shadow: var(--box-shadow-inner-small);
    gap: 0.2vw
}
.first-page, .last-page, .prev-page, .next-page {
    background-color: #00000000;
    color: var(--color-text-orange);
    padding: 0.3vw;
    cursor: pointer;
    border-style: none;
}
.first-page:hover, .last-page:hover, .prev-page:hover, .next-page:hover {
    background-color: var(--color-text-orange);
    color: var(--color-text-primary);
}
.page-numbers {
    display: flex;
    align-items: center;
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 90%;
    font-size: calc(1em + 0.78vw);

}
.page-number {
    color: var(--color-text-primary);
    padding: 0.4vw 0.6vw;
    margin: 0 0.5vw;
    cursor: pointer;
}
.page-number.active {
    background-color: var(--color-text-orange);
    color: black;
    border-radius: 20%;
}
.page {
    display: none;

}
.page.active {
    display: block;

}
.pagination-icon {
    width: calc(1em + 0.78vw);
    height: calc(1em + 0.78vw);
}
/*----------------------------------------------------------------*/
/* Контент  `Контакты` страница (contact.html)*/

form {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
}

label {
    display: none;

}

input[type="text"], textarea {
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 0.5vw;
    width: 75%;
    background-color: var(--box-shadow-inner-small);
    box-sizing: border-box;
    box-shadow:  var(--box-shadow-inner-small);


    font-family: 'SofiaSans-Light', sans-serif; /* Применение шрифта */
    line-height: 105%;
    letter-spacing: 0.15em;
    max-width: 45vw;
    height: auto;
    font-size: calc(1em + 0.8vw);
    color: var(--color-text-primary);
    text-indent:1em;
}

textarea {
    resize: none;

}
.message{
    width: 100%;

}
::placeholder {
    font-family: 'SofiaSans-Light', sans-serif; /* Применение шрифта */
    line-height: 115%;
    letter-spacing: 0.12em;
    max-width: 45vw;
    height: auto;
    font-size: calc(0.5em + 0.25vw);
    color: var(--color-text-orange);
}

/* Стили автозаполнения */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: !important; /* Change white to the desired background color */
    -webkit-text-fill-color: var(--color-text-primary) !important; /* Change text color */
    transition: background-color 5000s ease-in-out 0s;
}

/*----------------------------------------------------------------*/

/* Разделительная полоса */
.spread-line {
    width: 100%;
    height:0.3vw;
    border-radius: 1vw;
    box-shadow: var(--box-shadow-inner-small);
}

/* Стили для подвала */
.footer {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    justify-content: space-around;
    width: 100%;
    margin: 5vw 0 0 0;
    gap: 12vw;
}

.footer .logo {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
}
.footer .logo .brand-icon {
    width: calc(3em + 1.6vw);
    height: calc(3em + 1.9vw);
    background-image: url('../img/icon/logo_256.svg'); /* URL изображения */
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */
    filter: drop-shadow(0 0 3em #ff9500) drop-shadow(0 0 2em #ff7d00); /* Эффект тени под иконкой */
}
.footer .logo .brand-name {
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-size: calc(2em + 1.15vw);
    background: var(--color-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer p {
    font-family: 'SofiaSans-SemiBold', sans-serif; /* Применение шрифта */
    line-height: 117%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    font-size:calc(1em + 0.55vw);
    color: var(--color-text-primary);

}

.cont-info {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    align-items: flex-start; /* Выравниваем элементы по вертикали по центру */
    justify-content: center;
    gap: 2vw;
}
.location, .cont-num {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    gap: 0.2vw;
}
.cont-icon {
    display: none;

}
.social-icons {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
}
.soc-icon {
    fill: var(--color-text-primary);
    width: calc(3em + 1.6vw);
    height: calc(3em + 1.9vw);
    }

/*----------------------------------------------------------------*/
/* Стили для модального окна статьи */
.modal-article {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    background-image: url('../img/bg/bg_1920x1080.png');/* URL фонового изображения */
    background-size: cover; /* Растягиваем изображение на всю площадь */
    background-position: center; /* Центрируем изображение */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-article .modal-body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none; /* скрываем полосу прокрутки Firefox */
    -ms-overflow-style: none; /* скрываем полосу прокрутки IE/Edge */
}

.modal-article .modal-body::-webkit-scrollbar {
    display: none; /* скрываем полосу прокрутки в Chrome, Safari и Opera */
}
/*----------------------------------------------------------------*/


@media (max-width: 767px) {
    .container {
        height: 100%;
        margin: 0;

    }

    .header {
        padding: 1.5vw 4vw;
        gap: 3vw;

    }
    .header .logo {
        gap: 3vw;

}
    .header .logo .brand-icon {
        width: calc(5em + 3.6vw);
        height: calc(5em + 3.6vw);
    }
    .header .logo .brand-name {
        font-size: calc(2em + 3.1vw);

    }
    .hamburger-menu-icon {
        width: calc(3em + 4.6vw);
        height: calc(3em + 4.6vw);
    }
    .close-icon {
        width: calc(3em + 4.6vw);
        height: calc(3em + 4.6vw);
}

    .modal-head.open {
        flex-direction: column;
        gap: 2vw;
    }
    .modal-up {
        display: flex;
        justify-content: space-between;
    }
    .modal-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vw;
    }

    .menu-nav {
        flex-direction: column;
        align-items: center;
        gap: 1vw;

    }
    .menu-nav a {
        font-size: calc(1em + 4vw);

    }
    .lang-switch {
        width: calc(1.5em + 3.9vw);
        height: calc(1.5em + 3.9vw);
        font-size: calc(1.5em + 1.35vw);
    }


    .spread-line {
    height:1vw;

    }
    .page-title {
        font-size: calc(5em + 5vw);
        max-width: 80vw;

    }

    .footer {
        flex-direction: column;
        gap: 2vw;
    }
    .footer .logo {
        flex-direction: column;
        gap: 1.5vw;
    }
    .footer p {
        font-size: calc(1em + 1.55vw);

    }
    .soc-icon {
        width: calc(2em + 4.6vw);
        height: calc(2em + 4.9vw);
    }

/*----------------------------------------------------------------*/
/* Контент  главной страницы (index.html)*/
    .description-main p {
        font-size: calc(1em + 1.85vw);

    }
/*----------------------------------------------------------------*/
/* Контент  `Про меня` страница (about.html)*/
    .blocks-about {
        gap: 10vw;

    }
    .block {
        flex-direction: column;
        align-items: center;
        gap: 5vw;
    }
    .about-img {
        width: 40vw;
        height: auto;
    }
    .about-txt {
        width: 70vw;

    }
    .about-title-block {
        font-size: calc(2em + 2.5vw);

    }
    .about-text-block {
        font-size: calc(2em + 2.1vw);

    }
/*----------------------------------------------------------------*/
/* Контент  `Занятия` страница (exercise.html)*/
    .description {
        max-width: 75vw;
        font-size: calc(2em + 2.7vw);
        text-indent:2em;

        /* Включение автоматического переноса слов */
        hyphens: auto;
        -ms-hyphens: auto; /* Это свойство поддерживается в старых версиях IE */
        word-break: break-word; /* Для переноса слов */
    }
    .exercise-img {
        width: 35vw;
        height: 35vw;
    }
    .exercise-title {
        max-width: 35vw;
        font-size: calc(1em + 2vw);
    }
/*----------------------------------------------------------------*/
/* Контент  `Описание занятий` страница (p-exercise.html)*/
    .page-img {
        width: 80%;
        border-radius: 8%;
    }
    .page-text {
        max-width: 85vw;
        height: auto;
        font-size: calc(2em + 2vw);

        /* Включение автоматического переноса слов */
        hyphens: auto;
        -ms-hyphens: auto; /* Это свойство поддерживается в старых версиях IE */
        word-break: break-word; /* Для переноса слов */
    }
    /*--------------------------------*/
    /* Стили кнопки */
    .button {
        font-size:calc(2em + 1.75vw);
        border-radius: 1.5vw;
    }

/*----------------------------------------------------------------*/
/* Контент Блог страница (blog.html)*/
    .article-block {
        padding: 2vw;
        width: 35vw;
        border-radius: 3vw;
    }
    .image-container {
        position: relative;
        width: 32vw;
        height: 32vw;
    }
    .article-img {
        border-radius: 2vw;

    }
    .article-type-icon {
        width: calc(3em + 8.6vw);
        height: calc(3em + 8.9vw);
    }
    .article-title {
        font-size: calc(1em + 2.2vw);

    }
    .article-title p {
        max-width: 30vw;

    }

    /* Стили для видео статьи */
    .video-container {
        width: 100%;
        max-width: 75vw;
    }

    /*--------------------------------*/
    /* Стили для пагтнации */
    .pagination {
        padding: 1.5vw 1.1vw;
        width: auto;
        height: auto;
        border-radius: 2.4vw;
        gap: 5vw
    }
    .page-numbers {
        display: none;

    }
    .pagination-icon {
        width: calc(1em + 4.2vw);
        height: calc(1em + 4.2vw);
    }
/*----------------------------------------------------------------*/
/* Контент  `Контакты` страница (contact.html)*/
    form {
    padding-top: 5vw;
        width: 95%;

    }

    label {
        display: none;

    }

    input[type="text"], textarea {
        padding: 1em;
        margin-bottom: 2em;
        border-radius: 1.2vw;
        width: 70%;

        line-height: 120%;
        max-width: 85vw;
        height: auto;
        font-size: calc(1em + 2.2vw);
        text-indent:1em;
    }

    .message{
        width: 100%;

    }
    ::placeholder {
        font-size: calc(0.5em + 1.2vw);

    }

}

@media (min-width: 768px) and   (max-width: 1023px) {
    .container {
        backdrop-filter: blur(var(--backdrop-filter-blur-mobile));
        box-shadow: var(--box-shadow-outer-small);
    }
    .menu-nav {
        gap: calc(1em + 0.55vw);

    }
    .page-text {
        font-size: calc(2em + 0.2vw);

    }
    .about-title-block {
        font-size: calc(2em + 0.9vw);

    }
    .about-text-block {
        font-size: calc(2em + 0.4vw);

    }
    .description {
        font-size: calc(2em + 0.5vw);

    }

}

@media (min-width: 1024px) and (max-width: 1439px) {
    .page-text {
    font-size: calc(3em + 0.3vw);

    }

}


