@font-face {
    font-family: 'SofiaSans-ExtraLight'; /* Name of font */
    src: url('../fonts/SofiaSans-ExtraLight.woff2') format('woff2'); /*source url */
    font-weight: 200; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-Light'; /* Name of font */
    src: url('../fonts/SofiaSans-Light.woff2') format('woff2'); /*source url */
    font-weight: 300; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-SemiBold'; /* Name of font */
    src: url('../fonts/SofiaSans-SemiBold.woff2') format('woff2'); /*source url */
    font-weight: 600; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-Bold'; /* Name of font */
    src: url('../fonts/SofiaSans-Bold.woff2') format('woff2'); /*source url */
    font-weight: 700; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-ExtraBold'; /* Name of font */
    src: url('../fonts/SofiaSans-ExtraBold.woff2') format('woff2'); /*source url */
    font-weight: 800; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-Black'; /* Name of font */
    src: url('../fonts/SofiaSans-Black.woff2') format('woff2'); /*source url */
    font-weight: 900; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}


:root {
    --color-bg: #000000;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #EDEAE8;
    --color-text-orange: #FF9447;
    --color-text-gradient: linear-gradient(137deg, #ff9447 0%, #ff510b 100%);
    --color-button-gradient: linear-gradient(137deg, #ff9447 0%, #ff510b 100%);
    --color-button-hover: linear-gradient(137deg, #ff510b 0%, #ff9447 100%);
    --color-button-click: linear-gradient(137deg, #35DA8B 0%, #057B42 100%);

    --box-shadow-outer-large: 1.5vw 0.5vw 1vw 0 rgba(0, 0, 0, 0.5), inset 1vw 1vw 2vw 0 rgba(255, 255, 255, 0.25), inset -1vw -1vw 3vw 0 rgba(0, 0, 0, 0.6);
    --box-shadow-outer-small: 6px 6px 12px 0 rgba(0, 0, 0, 0.45), inset 8px 4px 12px 0 rgba(255, 255, 255, 0.35), inset -8px -4px 12px 0 rgba(0, 0, 0, 0.75);
    --box-shadow-outer-mobile: 0vw 0vw 3vw 0 rgba(0, 0, 0, 0.6), inset 4vw 4vw 4vw 0 rgba(255, 255, 255, 0.25), inset -4vw -4vw 2vw 0 rgba(0, 0, 0, 0.4);

    --box-shadow-inner-small: 0 -0.2vw 0.7vw 0 rgba(255, 255, 255, 0.1), 0 0 0.4vw 0 rgba(255, 255, 255, 0.05), inset 0 -0.6vw 0.5vw 0 rgba(0, 0, 0, 0.1), inset 0.6vw 0 0.5vw 0 rgba(0, 0, 0, 0.4);
    --box-shadow-inner-mobile: 0.5vw -0.2vw 0.5vw 0 rgba(255, 255, 255, 0.1),inset -0.5vw -1vw 2vw 0 rgba(255, 255, 255, 0.15), inset 0 1vw 0.5vw 0.8vw rgba(0, 0, 0, 0.1), inset 2vw 0 0.6vw 0 rgba(0, 0, 0, 0.2);

    --backdrop-filter-blur-mobile: 0.9vw;
    --backdrop-filter-blur-large: 0.4vw;

    --border-radius-large: 5vw;
    --border-radius-small: 20px;
}

body {
    background-image: url('../img/bg/bg_1920x1080.png');
    font-size: 4px;
    margin: 0;
    background-color: var(--color-bg); /* Задаем цвет фона */
    background-size: cover; /* Устанавливает размер изображения на покрытие всего экрана */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center center; /* Центрирует изображение */
    background-attachment: fixed; /* Фиксирует изображение относительно видимой области экрана */

    }
.container {
    margin: 0 12vw;
    padding: 4vw 5vw;
    border-radius: var(--border-radius-large);
    backdrop-filter: blur(var(--backdrop-filter-blur-large));
    box-shadow:  var(--box-shadow-outer-large);
    background: hsl(0, 0%, 0%, 0.15);
}

/* Стили для header */
.header {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vw;
    padding: 1.5vw 1.5vw;
    border-radius: 1.5vw;
    box-shadow: var(--box-shadow-inner-small);
    position: relative;
}

.header .logo {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row;
    align-items: center;
    gap: 1vw;

}
.header .logo .brand-icon {
    width: calc(5em + 1.6vw);
    height: calc(5em + 1.9vw);
    background-image: url('../img/icon/logo_256.svg'); /* URL изображения */
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */
    filter: drop-shadow(0 0 3em #ff9500) drop-shadow(0 0 2em #ff7d00); /* Эффект тени под иконкой */
}
.header .logo .brand-name {
    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-size: calc(2em + 2.15vw);
    background: var(--color-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu{
    display: flex; /* Используем flexbox для расположения элементов */
    width: auto;
    flex-direction: row; /* Располагаем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
}

.hamburger-menu-icon {
    fill: var(--color-text-orange);
    width: calc(3em + 1.6vw);
    height: calc(3em + 1.9vw);
}
.hamburger-menu.hidden {
    visibility: hidden; /* Скрываем модальное меню по умолчанию */
    opacity: 0; /* Прозрачность по умолчанию */
}

/*Модальное меню */
.modal-menu {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    justify-content: center;
    transition: visibility 0s, opacity 0.5s ease;
    visibility: hidden; /* Скрываем модальное меню по умолчанию */
    opacity: 0; /* Прозрачность по умолчанию */
    width: 0px;
}
.modal-menu.open {
    visibility: visible; /* Показываем модальное меню */
    opacity: 1; /* Устанавливаем непрозрачность */
    width: auto;
}
.modal-content {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    gap: calc(2em + 1.2vw);
}

.menu-nav {
    display: flex;
    flex-direction: row;
    gap: calc(2em + 0.75vw);
}
.menu-nav a {
    text-decoration: none;
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 120%;
    letter-spacing: 0.08em;
    font-variant: small-caps;
    font-size: calc(0.5em + 0.95vw);
    color: var(--color-text-primary);
}
.lang-switch {
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */

    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    font-variant: small-caps;
    line-height: 90%;
    letter-spacing: 0.05em;
    cursor: pointer;

    border-radius: 50%;
    border-style: none;
    background: var(--color-text-orange);

    width: calc(1.5em + 0.9vw);
    height: calc(1.5em + 0.9vw);
    font-size: calc(1.5em + 0.35vw);
}
.close-icon {
    fill: var(--color-text-orange);
    width: calc(2em + 1.6vw);
    height: calc(2em + 1.9vw);
    cursor: pointer;

}

/* Контент  страницы */
.content {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: column; /* Располагаем полоски по вертикали */
    align-items: center;
    width: 100%;
    gap: 5vw;

}

.page-title {
    font-family: 'SofiaSans-ExtraLight', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.15em;
    font-variant: small-caps;
    margin: 0 50%;
    text-align: center;
    font-size: calc(5em + 4vw);
    color: var(--color-text-primary);


}

/*----------------------------------------------------------------*/
/* Контент  главной страницы (index.html)*/
.header .logo-main {
    display: none;

}

.brand {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: column; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    gap: 4vw;
}
.brand-icon {
    width: calc(10em + 12.5vw);
    height: calc(10em + 12.5vw);
    background-image: url('../img/icon/logo_256.svg'); /* URL изображения */
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */
    filter: drop-shadow(0 0 40px #ff9500) drop-shadow(0 0 16px #ff7d00); /* Эффект тени под иконкой */
}
.brand-txt {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: column; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по правому краю */
}
.brand-name {
    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    font-size: calc(3em + 7.2vw);
    background: var(--color-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.brand-slogan {
    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-size: calc(3em + 2.75vw);
    color: var(--color-text-orange);

}

.dynamic {
    display: flex; /* Используем flexbox для расположения полосок */
    align-items: center; /* Выравниваем полоски по горизонтали по центру */
    justify-content: center;
    min-height: calc(7em + 4.75vw);
    margin-top: 3vw;

}
.dynamic-txt {
    font-family: 'SofiaSans-ExtraLight', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.03em;
    font-variant: small-caps;
    font-size: calc(6em + 4.25vw);
    text-align: right;
    color: var(--color-text-secondary);
}

.description-main {
    display: flex; /* Используем flexbox для расположения полосок */
    align-items: center; /* Выравниваем полоски по горизонтали по центру */
    justify-content: center;
    margin: 10vw 5vw 0 5vw;
}
.description-main p {
    font-family: 'SofiaSans-Bold', sans-serif; /* Применение шрифта */
    line-height: 117%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    font-size: calc(1em + 0.85vw);
    color: var(--color-text-primary);
    text-align: center;
    text-indent: 0;
}

/*----------------------------------------------------------------*/
/* Контент  `Про меня` страница (about.html)*/
.page-title-about {
    font-family: 'SofiaSans-ExtraLight', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.15em;
    font-variant: small-caps;
    margin: 0;
    text-align: center;
    font-size: calc(5em + 4vw);
    color: var(--color-text-primary);

}

.blocks-about {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}
.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vw;
}
.about-img {
    width: 20vw;
    height: 20vw;
    border-radius: 10%;
    box-shadow: 0 -3px 10px 0 rgba(255, 255, 255, 0.05), 0 0 10px 0 rgba(255, 255, 255, 0.1), inset 0 2px 5px 0 rgba(0, 0, 0, 0.5), inset 0 -2px 5px 0 rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.15);
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */

}

.about-img[data-img="1"] {
    background-image: url('../img/about/img_1.webp'); /* URL изображения */

}
.about-img[data-img="2"] {
    background-image: url('../img/about/img_2.webp'); /* URL изображения */

}
.about-img[data-img="3"] {
    background-image: url('../img/about/img_3.webp'); /* URL изображения */

}


.about-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;

}
.about-title-block {
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 115%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    width: 55vw;
    font-size: calc(2em + 1.1vw);
    color: var(--color-text-orange);
    text-align: left;

}
.about-text-block {
    width: 100%;
    font-family: 'SofiaSans-SemiBold', sans-serif; /* Применение шрифта */
    line-height: 120%;
    letter-spacing: 0.11em;
    font-variant: small-caps;
    font-size: calc(2em + 0.7vw);
    color: var(--color-text-primary);
    text-align: left;
    text-indent:2em;

    /* Включение автоматического переноса слов */
      hyphens: auto;
      -ms-hyphens: auto; /* Это свойство поддерживается в старых версиях IE */
      word-break: break-word; /* Для переноса слов */

}

/*----------------------------------------------------------------*/
/* Контент  `Занятия` страница (exercise.html)*/
.blocks-exercise {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
}
.exercise-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}
.exercise-img {
    width: 15vw;
    height: 15vw;
    border-radius: 10%;
    box-shadow: 0 -3px 10px 0 rgba(255, 255, 255, 0.05), 0 0 10px 0 rgba(255, 255, 255, 0.1), inset 0 2px 5px 0 rgba(0, 0, 0, 0.5), inset 0 -2px 5px 0 rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.15);
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */

}
.exercise-title {
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 115%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    max-width: 13vw;
    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:2;
	overflow: hidden;
	text-align: center;
    font-size: calc(1em + 1vw);
    color: var(--color-text-secondary);
    text-align: center;

}
.description {
    font-family: 'SofiaSans-SemiBold', sans-serif; /* Применение шрифта */
    line-height: 115%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    max-width: 55vw;
    font-size: calc(2em + 0.7vw);
    color: var(--color-text-secondary);
    text-indent:2em;

    /* Включение автоматического переноса слов */
/*    hyphens: auto;
/*    -ms-hyphens: auto; /* Это свойство поддерживается в старых версиях IE */
/*    word-break: break-word; /* Для переноса слов */

}

.exercise-img[data-img="1"] {
    background-image: url('../img/exercise/img_1.webp'); /* URL изображения */

}
.exercise-img[data-img="2"] {
    background-image: url('../img/exercise/img_2.webp'); /* URL изображения */

}
.exercise-img[data-img="3"] {
    background-image: url('../img/exercise/img_3.webp'); /* URL изображения */

}
.exercise-img[data-img="4"] {
    background-image: url('../img/exercise/img_4.webp'); /* URL изображения */

}
.exercise-img[data-img="5"] {
    background-image: url('../img/exercise/img_5.webp'); /* URL изображения */

}

/*----------------------------------------------------------------*/
/* Контент  `Описание занятий` страница (p-exercise.html)*/
.blocks-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
}
.page-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}
.page-img {
    width: 30vw;
    height: 30vw;
    border-radius: 10%;
    box-shadow: 0 -3px 10px 0 rgba(255, 255, 255, 0.05), 0 0 10px 0 rgba(255, 255, 255, 0.1), inset 0 2px 5px 0 rgba(0, 0, 0, 0.5), inset 0 -2px 5px 0 rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.15);
    background-image: url('../img/exercise/img_1.webp'); /* URL изображения */
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */

}
.page-text {
    font-family: 'SofiaSans-SemiBold', sans-serif; /* Применение шрифта */
    line-height: 115%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    max-width: 45vw;
    height: auto;
    font-size: calc(2em + 0.7vw);
    color: var(--color-text-secondary);
    text-indent:2em;

    /* Включение автоматического переноса слов */
    hyphens: auto;
    -ms-hyphens: auto; /* Это свойство поддерживается в старых версиях IE */
    word-break: break-word; /* Для переноса слов */

    /*Подложка под текст */
    padding: 3vw;
    border-radius: 2vw;
    box-shadow: var(--box-shadow-inner-small);
    background: rgba(0, 0, 0, 0.2);
}

/*--------------------------------*/
/* Стили кнопки */
.button {
    display: inline-block;
    padding: 1em 3em;
    margin: 2vw;
    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 120%;
    letter-spacing: 0.11em;
    font-variant: small-caps;
    font-size:calc(2em + 0.75vw);
    color: var(--color-text-primary);
    background: var(--color-button-gradient);
    box-shadow: var(--box-shadow-outer-small);

    border: none;
    border-radius: 0.8vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
/* Стили при наведении */
.button:hover {
    background: var(--color-button-hover);

}
/* Стили при фокусировке */
.button:focus {
    outline: none;
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.45), inset 8px 4px 12px 0 rgba(255, 255, 255, 0.35), inset -8px -4px 12px 0 rgba(0, 0, 0, 0.75);

}
/* Стили при нажатии */
.button:active {
    transition: background-color 0.1s ease;
    background: var(--color-button-click);
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.45), inset 8px 4px 12px 0 rgba(255, 255, 255, 0.35), inset -8px -4px 12px 0 rgba(0, 0, 0, 0.75);

}


/*----------------------------------------------------------------*/
/* Контент Блог страница (blog.html)*/
.blocks-blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
}
.article-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    width: 14vw;
    border-radius: 1vw;
    gap: 2vw;
    box-shadow: var(--box-shadow-inner-small);

}
.article-img {
    width: 12vw;
    height: 12vw;
    border-radius: 1vw;
    background: rgba(255, 255, 255, 0.65);
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */

}
.article-title {
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 115%;
    letter-spacing: 0.12em;
    font-size: calc(1em + 0.78vw);
    color: var(--color-text-secondary);
}
.article-title p {
    max-width: 12vw;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:2;
	overflow: hidden;
	text-align: center;
}

.article-img[data-img="1"] {
    background-image: url('../img/blog/1.webp'); /* URL изображения */

}
.article-img[data-img="2"] {
    background-image: url('../img/blog/2.webp'); /* URL изображения */

}
.article-img[data-img="3"] {
    background-image: url('../img/blog/3.webp'); /* URL изображения */

}
.article-img[data-img="4"] {
    background-image: url('../img/blog/4.webp'); /* URL изображения */

}
.article-img[data-img="5"] {
    background-image: url('../img/blog/5.webp'); /* URL изображения */

}
.article-img[data-img="6"] {
    background-image: url('../img/blog/6.webp'); /* URL изображения */

}

/*--------------------------------*/
/* Стили для пагтнации */
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2vw 1vw;
    width: auto;
    height: 0.5vw;
    border-radius: 0.4vw;
    box-shadow: var(--box-shadow-inner-small);
    gap: 0.2vw
}
.first-page, .last-page, .prev-page, .next-page {
    background-color: #00000000;
    color: var(--color-text-orange);
    padding: 0.3vw;
    cursor: pointer;
    border-style: none;
}
.first-page:hover, .last-page:hover, .prev-page:hover, .next-page:hover {
    background-color: var(--color-text-orange);
    color: var(--color-text-primary);
}
.page-numbers {
    display: flex;
    align-items: center;
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 90%;
    font-size: calc(1em + 0.78vw);

}
.page-number {
    color: var(--color-text-primary);
    padding: 0.4vw 0.6vw;
    margin: 0 0.5vw;
    cursor: pointer;
}
.page-number.active {
    background-color: var(--color-text-orange);
    color: black;
    border-radius: 20%;
}
.page {
    display: none;

}
.page.active {
    display: block;

}
.pagination-icon {
    width: calc(1em + 0.78vw);
    height: calc(1em + 0.78vw);
}
/*----------------------------------------------------------------*/
/* Контент  `Контакты` страница (contact.html)*/

form {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
}

label {
    display: none;

}

input[type="text"], textarea {
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 0.5vw;
    width: 75%;
    background-color: var(--box-shadow-inner-small);
    box-sizing: border-box;
    box-shadow:  var(--box-shadow-inner-small);


    font-family: 'SofiaSans-Light', sans-serif; /* Применение шрифта */
    line-height: 105%;
    letter-spacing: 0.15em;
    max-width: 45vw;
    height: auto;
    font-size: calc(1em + 0.8vw);
    color: var(--color-text-primary);
    text-indent:1em;
}

textarea {
    resize: none;

}
.message{
    width: 100%;

}
::placeholder {
    font-family: 'SofiaSans-Light', sans-serif; /* Применение шрифта */
    line-height: 115%;
    letter-spacing: 0.12em;
    max-width: 45vw;
    height: auto;
    font-size: calc(0.5em + 0.25vw);
    color: var(--color-text-orange);
}

/* Стили автозаполнения */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: !important; /* Change white to the desired background color */
    -webkit-text-fill-color: var(--color-text-primary) !important; /* Change text color */
    transition: background-color 5000s ease-in-out 0s;
}

/*----------------------------------------------------------------*/

/* Разделительная полоса */
.spread-line {
    width: 100%;
    height:0.3vw;
    border-radius: 1vw;
    box-shadow: var(--box-shadow-inner-small);
}

/* Стили для подвала */
.footer {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    justify-content: space-around;
    width: 100%;
    margin: 5vw 0 0 0;
    gap: 12vw;
}

.footer .logo {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
}
.footer .logo .brand-icon {
    width: calc(3em + 1.6vw);
    height: calc(3em + 1.9vw);
    background-image: url('../img/icon/logo_256.svg'); /* URL изображения */
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */
    filter: drop-shadow(0 0 3em #ff9500) drop-shadow(0 0 2em #ff7d00); /* Эффект тени под иконкой */
}
.footer .logo .brand-name {
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-size: calc(2em + 1.15vw);
    background: var(--color-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer p {
    font-family: 'SofiaSans-SemiBold', sans-serif; /* Применение шрифта */
    line-height: 117%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    font-size:calc(1em + 0.55vw);
    color: var(--color-text-primary);

}

.cont-info {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    align-items: flex-start; /* Выравниваем элементы по вертикали по центру */
    justify-content: center;
    gap: 2vw;
}
.location, .cont-num {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    gap: 0.2vw;
}
.cont-icon {
    display: none;

}
.social-icons {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
}
.soc-icon {
    fill: var(--color-text-primary);
    width: calc(3em + 1.6vw);
    height: calc(3em + 1.9vw);
    }

/*----------------------------------------------------------------*/
/* Стили для модального окна статьи */
.modal-article {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    background-image: url('../img/bg/bg_1920x1080.png');/* URL фонового изображения */
    background-size: cover; /* Растягиваем изображение на всю площадь */
    background-position: center; /* Центрируем изображение */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-article .modal-body {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none; /* скрываем полосу прокрутки Firefox */
    -ms-overflow-style: none; /* скрываем полосу прокрутки IE/Edge */
}

.modal-article .modal-body::-webkit-scrollbar {
    display: none; /* скрываем полосу прокрутки в Chrome, Safari и Opera */
}
/*----------------------------------------------------------------*/

/* Для экранов шириной 320px - 480px  (Высота экрана: 480px - 800px)*/
@media (max-width: 640px) {
    body {
        background-image: url('../img/bg/bg_360x800.png'); /* Замените 'your-image-url.jpg' на URL вашего изображения */
        overflow: auto;


    }
    .container {
        margin: 0;
        padding: 4vw 5vw;
        backdrop-filter: blur(var(--backdrop-filter-blur-mobile));
        box-shadow:  var(--box-shadow-outer-mobile);
    }

    /* Стили для header */
    .header {
        flex-direction: column-reverse;
        align-items: center;
        box-shadow: none;

    }
    .header .logo {
        flex-direction: column;
        gap: 2vw;

    }
    .header .logo .brand-icon {
    width: calc(2em + 12.15vw);
    height: calc(2em + 12.15vw);
    filter: drop-shadow(0 0 16px #ff9500) drop-shadow(0 0 8px #ff7d00); /* Эффект тени под иконкой */
    }
    .header .logo .brand-name {
        font-size: calc(4em + 6.15vw);

    }

    .header .hamburger-menu {
        display: block;
        margin-left: auto;
        margin-right: calc(1em + 1.1vw);
        transition: visibility 0s, opacity 0.5s ease;
    }
    .hamburger-icon {
        width: calc(5em + 5.7vw);
        height: calc(5em + 5.7vw);
        fill:  var(--color-text-orange); /* Цвет полоски */
        }
    .hamburger-menu.hidden {
        display: none; /* Скрываем hamburger-menu */

    }

    /*Модальное меню */
    .modal-menu {
        display: flex; /* Используем flexbox для расположения элементов */
        flex-direction: column; /* Располагаем элементы по горизонтали */
        justify-content: normal;
        position: fixed;
        transition: visibility 0s, opacity 0s ease;

        width: 100%;
        height: 100%;
        padding: 10vw;
        top: 0;
        gap: calc(2em + 1.2vw);
        background-image: url('../img/bg/bg_360x800.png');
        background-color: var(--color-bg); /* Задаем цвет фона */
        background-size: cover; /* Устанавливает размер изображения на покрытие всего экрана */
        background-repeat: no-repeat; /* Изображение не повторяется */
        background-position: center center; /* Центрирует изображение */
        background-attachment: fixed; /* Фиксирует изображение относительно видимой области экрана */


        z-index: 1000;
        visibility: hidden; /* Скрываем модальное меню по умолчанию */
        opacity: 0; /* Прозрачность по умолчанию */
        overflow: auto; /* Включаем прокрутку внутри модального окна */
    }
    .modal-content {
        display: flex; /* Используем flexbox для расположения элементов */
        flex-direction: column; /* Располагаем элементы по горизонтали */
        align-items: center; /* Выравниваем элементы по вертикали по центру */
        position: relative;

        box-shadow:  var(--box-shadow-inner-mobile);
        background-color: rgba(0, 0, 0, 0.4);
        width: 60vw;
        padding: 5vw;
        border-radius: 2vw;
        gap: calc(2em + 1.2vw);
    }
    .menu-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(2em + 3.75vw);
    }
    .menu-nav a {
        font-size: calc(2em + 3.95vw);
        color: var(--color-text-primary);
    }
    .lang-switch {
        border-radius: 4vw;

        width: calc(1.5em + 3.9vw);
        height: calc(1.5em + 3.9vw);
        font-size: calc(1.5em + 2.35vw);
    }

    .logo-modal{
        width: auto;
        visibility: visible; /* Показываем модальное меню */
        opacity: 1; /* Устанавливаем непрозрачность */

        display: flex; /* Используем flexbox для расположения элементов */
        flex-direction: column;
        align-items: center;
        gap: 1vw;
        margin-bottom: 2vw;
    }
    .logo-modal .brand-icon {
        width: calc(2em + 12.15vw);
        height: calc(2em + 12.15vw);
        filter: drop-shadow(0 0 16px #ff9500) drop-shadow(0 0 8px #ff7d00); /* Эффект тени под иконкой */
        background-image: url('../img/icon/logo_256.svg'); /* URL изображения */
        background-size: cover; /* Изображение полностью покрывает элемент */
        background-repeat: no-repeat; /* Изображение не повторяется */
        background-position: center; /* Центрируем изображение */
    }
    .logo-modal .brand-name {
        font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
        line-height: 100%;
        letter-spacing: 0.1em;
        font-variant: small-caps;
        font-size: calc(4em + 6.15vw);
        background: var(--color-text-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .footer-modal{
        width: auto;
        visibility: visible; /* Показываем модальное меню */
        opacity: 1; /* Устанавливаем непрозрачность */

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vw;
        gap: 2vw;
    }
    .footer-modal .logo .brand-icon {
        width: 0px;
        visibility: hidden; /* Показываем модальное меню */
        opacity: 0; /* Устанавливаем непрозрачность */
    }
    .footer-modal .logo .brand-name {
        width: 0px;
        visibility: hidden; /* Показываем модальное меню */
        opacity: 0; /* Устанавливаем непрозрачность */
    }
    .footer-modal .cont-info {
        display: flex; /* Используем flexbox для расположения элементов */
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Выравниваем элементы по вертикали по центру */
        width: 50vw;
        gap: 0.5vw;
    }
    .footer-modal p {
        font-family: 'SofiaSans-Bold', sans-serif; /* Применение шрифта */
        line-height: 117%;
        letter-spacing: 0.12em;
        font-variant: small-caps;
        font-size:calc(1em + 2.35vw);
        color: var(--color-text-primary);
    }
    .footer-modal .soc-icon {
        width: calc(5em + 3vw);
        height: calc(5em + 3vw);
        margin-top: 4vw;
        }

    .close-button {
        margin-left: auto;
        margin-right: 5vw;

        position: relative; /* Используем относительное позиционирование */
        width: 20em; /* Ширина всего меню */
        height: 20em; /* Высота всего меню */
        cursor: pointer; /* Курсор меняется на указатель при наведении */
    }
    .close-button .bar-1, .close-button .bar-2 {
      position: absolute; /* Абсолютное позиционирование полосок */
      top: 50%; /* Центрируем полоски по вертикали */
      left: 50%; /* Центрируем полоски по горизонтали */
      width: calc(6em + 3.1vw);
      height: 1.6em; /* Высота полосок (их длина) */
      background: var(--color-text-primary); /* Цвет полосок */
      border-radius: 3px; /* Скругление углов полосок */
      transform-origin: center; /* Центрируем точку вращения */
    }
    .close-button .bar-1 {
      transform: translate(-50%, -50%) rotate(45deg); /* Поворачиваем полоску на 45 градусов и центрируем */

    }
    .close-button .bar-2 {
      transform: translate(-50%, -50%) rotate(-45deg); /* Поворачиваем полоску на -45 градусов и центрируем */

    }

    .logo-modal{
    width: 0px;
    display: none;
}
    .footer-modal{
    width: 0px;
    display: none;
    }
    .close-button {
    display: initial;

}

    .page-title {
        font-size: calc(4em + 4vw);
        margin: 0;
    }

/*----------------------------------------------------------------*/
/* Контент  главной страницы */
.content {
    width: 100%;

}

.header .logo {
    display: none;

}

.brand-name {
    font-size: calc(5em + 7.2vw);

}
.brand-slogan {
    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-size: calc(3em + 2.75vw);
    color: var(--color-text-orange);

}

.dynamic-txt {
    font-size: calc(7em + 2.25vw);

}

.description {
    margin: 5vw 0;

}
.description p {
    font-family: 'SofiaSans-SemiBold', sans-serif; /* Применение шрифта */
    line-height: 117%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    font-size: calc(1em + 0.1vw);
    text-align: center;

    /* Включение автоматического переноса слов */
    hyphens: auto;
    -ms-hyphens: auto; /* Это свойство поддерживается в старых версиях IE */
    word-break: break-word; /* Для переноса слов */
}

/*----------------------------------------------------------------*/
    /* Контент  `Про меня` страница */
    .page-title-about {
        font-family: 'SofiaSans-ExtraLight', sans-serif; /* Применение шрифта */
        line-height: 100%;
        letter-spacing: 0.15em;
        font-variant: small-caps;
        margin: 0;
        text-align: center;
        font-size: calc(5em + 4vw);
        color: var(--color-text-primary);

    }

    .blocks-about {
        margin-top: 5vw;

    }
    .block {
        flex-direction: column;

    }
    .about-img {
        width: 40vw;
        height: 40vw;
        margin-left: 10vw;
    }

    .about-txt {
        width: 78vw;

    }
    .about-title-block {
        font-size: calc(3em + 1.7vw);

    }
    .about-text-block {
        font-size: calc(3em + 1.1vw);

    }

/*----------------------------------------------------------------*/
    /* Контент  `Описание занятий` страница (p-exercise.html)*/
    .page-block {
        gap: 10vw;

    }
    .page-img {
        width: 55vw;
        height: 55vw;
    }
    .page-text {
        max-width: 78vw;
        height: auto;
        font-size: calc(2em + 1.7vw);
    }

/*--------------------------------*/
    /* Стили кнопки */
    .button {
        border-radius: 1.2vw;

    }
/*----------------------------------------------------------------*/
    /* Контент  `Занятия` страница */
    .exercise-img {
        width: 35vw;
        height: 35vw;
    }
    .exercise-title {
        max-width: 35vw;
        font-size: calc(1.5em + 1.4vw);
    }
    .description {
        max-width: 78vw;
        font-size: calc(3em + 1.7vw);

        /* Включение автоматического переноса слов */
        hyphens: auto;
        -ms-hyphens: auto; /* Это свойство поддерживается в старых версиях IE */
        word-break: break-word; /* Для переноса слов */

    }
/*----------------------------------------------------------------*/
    /* Контент Блог страница */
    .blocks-blog {
        gap: 10vw;

    }
    .article-block {
        padding: 2.5vw;
        width: 35vw;
        border-radius: 2vw;
        gap: 4vw;
        background: radial-gradient(black, transparent);
    }
    .article-img {
        width: 30vw;
        height: 30vw;
    }
    .article-title {
        font-size: calc(2em + 1.38vw);

    }
    .article-title p {
        max-width: 30vw;

    }

    /* Стили для пагтнации */
    .pagination {
        background: rgba(0, 0, 0, 0.2);
        margin-top: 5vw;
        padding: 0 2.5vw;
        width: auto;
        height: auto;
        border-radius: 1vw;
        gap: 10vw
    }
    .first-page, .last-page, .prev-page, .next-page {
        margin: 1vw 0;

    }
    .first-page:hover, .last-page:hover, .prev-page:hover, .next-page:hover {
        background-color: initial;
        color: var(--color-text-orange);
}
    .page-numbers {
    display: none

    }
    .pagination-icon {
        width: calc(2.5em + 2.6vw);
        height: calc(2.5em + 2.7vw);
    }
/*----------------------------------------------------------------*/
    /* Разделительная полоса */
    .spread-line {
        width: 100%;
        height:0.8vw;
        border-radius: 2vw;
        box-shadow: var(--box-shadow-inner-small);
    }

    /* Стили для подвала */
    .footer {
        flex-direction: column;
        margin-top: 5vw;
        gap: 2vw;
    }

    .footer .logo {
        flex-direction: column;
        gap: 0.8vw;
    }
    .footer .logo .brand-icon {
        width: calc(2.5em + 3.6vw);
        height: calc(2.5em + 3.7vw);
        filter: drop-shadow(0 0 1em #ff9500) drop-shadow(0 0 0.4em #ff7d00); /* Эффект тени под иконкой */
    }
    .footer .logo .brand-name {
        font-size: calc(2em + 3.15vw);

    }

    .footer p {
        font-size:calc(1em + 2.35vw);

    }

    .cont-info {
        flex-direction: row;
        align-items: center; /* Выравниваем элементы по вертикали по центру */
        gap: 0.5vw;
    }
    .cont-icon {
        display: none;

    }
    .soc-icon {
        width: calc(2.5em + 5vw);
        height: calc(2.5em + 5vw);
        margin-top: 2vw;
        }

    }

/* Для экранов шириной 641px - 1200px (Высота экрана: 1024px - 1366px)*/
@media (min-width: 641px) and (max-width: 1200px) {
    body {
        background-image: url('../img/bg/bg_1280x720.png'); /* Замените 'your-image-url.jpg' на URL вашего изображения */
        overflow: auto;


    }
    .container {
        margin: 0 5vw;
        padding: 4vw 5vw;
        backdrop-filter: blur(var(--backdrop-filter-blur-mobile));
        box-shadow:  var(--box-shadow-outer-mobile);
    }

    /* Стили для header */
    .header {
        flex-direction: column-reverse;
        align-items: center;
        box-shadow: none;

    }
    .header .logo {
        flex-direction: column;
        gap: 2vw;

    }
    .header .logo .brand-icon {
    width: calc(2em + 12.15vw);
    height: calc(2em + 12.15vw);
    filter: drop-shadow(0 0 16px #ff9500) drop-shadow(0 0 8px #ff7d00); /* Эффект тени под иконкой */
    }
    .header .logo .brand-name {
        font-size: calc(4em + 6.15vw);

    }

    .header .hamburger-menu {
        display: block;
        margin-left: auto;
        margin-right: calc(1em + 1.1vw);
        transition: visibility 0s, opacity 0.5s ease;
    }
    .hamburger-icon {
        width: calc(5em + 5.7vw);
        height: calc(5em + 5.7vw);
        fill:  var(--color-text-orange); /* Цвет полоски */
        }
    .hamburger-menu.hidden {
        display: none; /* Скрываем hamburger-menu */

    }

    /*Модальное меню */
    .modal-menu {
        display: flex; /* Используем flexbox для расположения элементов */
        flex-direction: column; /* Располагаем элементы по горизонтали */
        justify-content: normal;
        position: fixed;
        transition: visibility 0s, opacity 0s ease;

        width: 100%;
        height: 100%;
        padding: 10vw;
        top: 0;
        gap: calc(2em + 1.2vw);
        background-image: url('../img/bg/bg_360x800.png');
        background-color: var(--color-bg); /* Задаем цвет фона */
        background-size: cover; /* Устанавливает размер изображения на покрытие всего экрана */
        background-repeat: no-repeat; /* Изображение не повторяется */
        background-position: center center; /* Центрирует изображение */
        background-attachment: fixed; /* Фиксирует изображение относительно видимой области экрана */


        z-index: 1000;
        visibility: hidden; /* Скрываем модальное меню по умолчанию */
        opacity: 0; /* Прозрачность по умолчанию */
        overflow: auto; /* Включаем прокрутку внутри модального окна */
    }
    .modal-content {
        display: flex; /* Используем flexbox для расположения элементов */
        flex-direction: column; /* Располагаем элементы по горизонтали */
        align-items: center; /* Выравниваем элементы по вертикали по центру */
        position: relative;

        box-shadow:  var(--box-shadow-inner-mobile);
        background-color: rgba(0, 0, 0, 0.4);
        width: 60vw;
        padding: 5vw;
        border-radius: 2vw;
        gap: calc(2em + 1.2vw);
    }
    .menu-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(2em + 3.75vw);
    }
    .menu-nav a {
        font-size: calc(2em + 3.95vw);
        color: var(--color-text-primary);
    }
    .lang-switch {
        border-radius: 4vw;

        width: calc(1.5em + 3.9vw);
        height: calc(1.5em + 3.9vw);
        font-size: calc(1.5em + 2.35vw);
    }

    .logo-modal{
        width: auto;
        visibility: visible; /* Показываем модальное меню */
        opacity: 1; /* Устанавливаем непрозрачность */

        display: flex; /* Используем flexbox для расположения элементов */
        flex-direction: column;
        align-items: center;
        gap: 1vw;
        margin-bottom: 2vw;
    }
    .logo-modal .brand-icon {
        width: calc(2em + 12.15vw);
        height: calc(2em + 12.15vw);
        filter: drop-shadow(0 0 16px #ff9500) drop-shadow(0 0 8px #ff7d00); /* Эффект тени под иконкой */
        background-image: url('../img/icon/logo_256.svg'); /* URL изображения */
        background-size: cover; /* Изображение полностью покрывает элемент */
        background-repeat: no-repeat; /* Изображение не повторяется */
        background-position: center; /* Центрируем изображение */
    }
    .logo-modal .brand-name {
        font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
        line-height: 100%;
        letter-spacing: 0.1em;
        font-variant: small-caps;
        font-size: calc(4em + 6.15vw);
        background: var(--color-text-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .footer-modal{
        width: auto;
        visibility: visible; /* Показываем модальное меню */
        opacity: 1; /* Устанавливаем непрозрачность */

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vw;
        gap: 2vw;
    }
    .footer-modal .logo .brand-icon {
        width: 0px;
        visibility: hidden; /* Показываем модальное меню */
        opacity: 0; /* Устанавливаем непрозрачность */
    }
    .footer-modal .logo .brand-name {
        width: 0px;
        visibility: hidden; /* Показываем модальное меню */
        opacity: 0; /* Устанавливаем непрозрачность */
    }
    .footer-modal .cont-info {
        display: flex; /* Используем flexbox для расположения элементов */
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Выравниваем элементы по вертикали по центру */
        width: 50vw;
        gap: 0.5vw;
    }
    .footer-modal p {
        font-family: 'SofiaSans-Bold', sans-serif; /* Применение шрифта */
        line-height: 117%;
        letter-spacing: 0.12em;
        font-variant: small-caps;
        font-size:calc(1em + 2.35vw);
        color: var(--color-text-primary);
    }
    .footer-modal .soc-icon {
        width: calc(10em + 5vw);
        height: calc(10em + 5vw);
        margin-top: 4vw;
        }

    .close-button {
        margin-left: auto;
        margin-right: 5vw;

        position: relative; /* Используем относительное позиционирование */
        width: 20em; /* Ширина всего меню */
        height: 20em; /* Высота всего меню */
        cursor: pointer; /* Курсор меняется на указатель при наведении */
    }
    .close-button .bar-1, .close-button .bar-2 {
      position: absolute; /* Абсолютное позиционирование полосок */
      top: 50%; /* Центрируем полоски по вертикали */
      left: 50%; /* Центрируем полоски по горизонтали */
      width: calc(6em + 3.1vw);
      height: 1.6em; /* Высота полосок (их длина) */
      background: var(--color-text-primary); /* Цвет полосок */
      border-radius: 3px; /* Скругление углов полосок */
      transform-origin: center; /* Центрируем точку вращения */
    }
    .close-button .bar-1 {
      transform: translate(-50%, -50%) rotate(45deg); /* Поворачиваем полоску на 45 градусов и центрируем */

    }
    .close-button .bar-2 {
      transform: translate(-50%, -50%) rotate(-45deg); /* Поворачиваем полоску на -45 градусов и центрируем */

    }

    .logo-modal{
    width: 0px;
    display: none;
}
    .footer-modal{
    width: 0px;
    display: none;
}
    .close-button {
    display: initial;

}

    .content {
        gap: 10vw;

    }
    .page-title {
        font-size: calc(4em + 4vw);

    }

/*----------------------------------------------------------------*/
/* Контент  главной страницы */
.content {
    width: 100%;

}

.header .logo {
    display: none;

}

.brand-name {
    font-size: calc(6em + 7.2vw);

}
.brand-slogan {
    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-size: calc(4em + 2.75vw);
    color: var(--color-text-orange);

}

.dynamic-txt {
    font-size: calc(7em + 3.25vw);

}

.description {
    margin: 5vw 0;

}
.description p {
    font-family: 'SofiaSans-SemiBold', sans-serif; /* Применение шрифта */
    line-height: 117%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    font-size: calc(1em + 0.4vw);
    text-align: center;

    /* Включение автоматического переноса слов */
    hyphens: auto;
    -ms-hyphens: auto; /* Это свойство поддерживается в старых версиях IE */
    word-break: break-word; /* Для переноса слов */
}

/*----------------------------------------------------------------*/
    /* Контент  `Про меня` страница */
    .page-title-about {
        font-family: 'SofiaSans-ExtraLight', sans-serif; /* Применение шрифта */
        line-height: 100%;
        letter-spacing: 0.15em;
        font-variant: small-caps;
        margin: 0;
        text-align: center;
        font-size: calc(5em + 4vw);
        color: var(--color-text-primary);

    }

    .blocks-about {
        margin-top: 5vw;

    }
    .block {
        flex-direction: column;

    }
    .about-img {
        width: 40vw;
        height: 40vw;
        margin-left: 10vw;

    }

    .about-txt {
        width: 70vw;

    }
    .about-title-block {
        font-size: calc(3em + 1.7vw);

    }
    .about-text-block {
        font-size: calc(3em + 1.1vw);

    }

/*----------------------------------------------------------------*/
    /* Контент  `Описание занятий` страница (p-exercise.html)*/
    .page-block {
        gap: 5vw;

    }
    .page-img {
        width: 45vw;
        height: 45vw;
    }
    .page-text {
        max-width: 65vw;
        height: auto;
        font-size: calc(4em + 0.5vw);

        /* Включение автоматического переноса слов */
        hyphens: auto;
        -ms-hyphens: auto; /* Это свойство поддерживается в старых версиях IE */
        word-break: break-word; /* Для переноса слов */

        /*Подложка под текст */
        padding: 3vw;
        border-radius: 2vw;
        box-shadow:  var(--box-shadow-inner-small);
        background: rgba(0, 0, 0, 0.65);
    }

/*----------------------------------------------------------------*/
    /* Контент  `Занятия` страница */
    .exercise-img {
        width: 28vw;
        height: 28vw;
    }
    .exercise-title {
        max-width: 30vw;
        font-size: calc(3em + 1.0vw);
    }
    .description {
        max-width: 75vw;
        font-size: calc(4em + 0.5vw);

        /* Включение автоматического переноса слов */
        hyphens: auto;
        -ms-hyphens: auto; /* Это свойство поддерживается в старых версиях IE */
        word-break: break-word; /* Для переноса слов */

    }
/*----------------------------------------------------------------*/
    /* Контент Блог страница */
    .blocks-blog {
        gap: 10vw;

    }
    .article-block {
        padding: 2.5vw;
        width: 30vw;
        border-radius: 2vw;
        gap: 4vw;
        background: radial-gradient(black, transparent);
    }
    .article-img {
        width: 25vw;
        height: 25vw;
    }
    .article-title {
        font-size: calc(2em + 1.38vw);

    }
    .article-title p {
        max-width: 30vw;

    }

    /* Стили для пагтнации */
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2.2vw 2vw;
        width: auto;
        height: 0.5vw;
        border-radius: 0.9vw;
        box-shadow: var(--box-shadow-inner-small);
        gap: 1.2vw
    }
    .first-page, .last-page, .prev-page, .next-page {
        background-color: #00000000;
        color: var(--color-text-orange);
        padding: 0.6vw;
        cursor: pointer;
        border-style: none;
    }
    .first-page:hover, .last-page:hover, .prev-page:hover, .next-page:hover {
        background-color: initial;
        color: var(--color-text-orange);
    }
    .page-numbers {
        display: flex;
        align-items: center;
        font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
        line-height: 90%;
        font-size: calc(3em + 1.5vw);

    }
    .page-number {
        color: var(--color-text-primary);
        padding: 0.4vw 0.6vw;
        margin: 0 1.5vw;
        cursor: pointer;
    }
    .page-number.active {
        background-color: var(--color-text-orange);
        color: black;
        border-radius: 20%;
    }
    .page {
        display: none;

    }
    .page.active {
        display: block;

    }
    .pagination-icon {
        width: calc(1em + 1.78vw);
        height: calc(1em + 1.78vw);
    }

    /* Разделительная полоса */
    .spread-line {
        width: 100%;
        height:0.8vw;
        border-radius: 2vw;
        box-shadow: var(--box-shadow-inner-small);
    }

    /* Стили для подвала */
    .footer {
        flex-direction: column;
        margin-top: 5vw;
        gap: 2vw;
    }

    .footer .logo {
        flex-direction: column;
        gap: 0.8vw;
    }
    .footer .logo .brand-icon {
        width: calc(2.5em + 3.6vw);
        height: calc(2.5em + 3.7vw);
        filter: drop-shadow(0 0 1em #ff9500) drop-shadow(0 0 0.4em #ff7d00); /* Эффект тени под иконкой */
    }
    .footer .logo .brand-name {
        font-size: calc(2em + 3.15vw);

    }

    .footer p {
        font-size:calc(1em + 2.35vw);

    }

    .cont-info {
        flex-direction: row;
        align-items: center; /* Выравниваем элементы по вертикали по центру */
        gap: 0.5vw;
    }
    .cont-icon {
        display: none;

    }
    .soc-icon {
        width: calc(2.5em + 4.6vw);
        height: calc(2.5em + 4.7vw);
        margin-top: 2vw;
        }

}


