@font-face {
    font-family: 'SofiaSans-ExtraLight'; /* Name of font */
    src: url('../../fonts/SofiaSans-ExtraLight.woff2') format('woff2'); /*source url */
    font-weight: 200; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-Light'; /* Name of font */
    src: url('../../fonts/SofiaSans-Light.woff2') format('woff2'); /*source url */
    font-weight: 300; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-SemiBold'; /* Name of font */
    src: url('../../fonts/SofiaSans-SemiBold.woff2') format('woff2'); /*source url */
    font-weight: 600; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-Bold'; /* Name of font */
    src: url('../../fonts/SofiaSans-Bold.woff2') format('woff2'); /*source url */
    font-weight: 700; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-ExtraBold'; /* Name of font */
    src: url('../../fonts/SofiaSans-ExtraBold.woff2') format('woff2'); /*source url */
    font-weight: 800; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-Black'; /* Name of font */
    src: url('../../fonts/SofiaSans-Black.woff2') format('woff2'); /*source url */
    font-weight: 900; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}


:root {
    --color-bg: #000000;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #EDEAE8;
    --color-text-orange: #FF9447;
    --color-text-gradient: linear-gradient(137deg, #ff9447 0%, #ff510b 100%);

    --box-shadow-outer-large: 1.5vw 0.5vw 1vw 0 rgba(0, 0, 0, 0.5), inset 1vw 1vw 2vw 0 rgba(255, 255, 255, 0.25), inset -1vw -1vw 3vw 0 rgba(0, 0, 0, 0.6);
        --box-shadow-outer-small: 6px 4px 8px 0 rgba(0, 0, 0, 0.5), inset 4px 4px 6px 0 rgba(255, 255, 255, 0.25), inset -7px -7px 5px 0 rgba(0, 0, 0, 0.6);
    --box-shadow-outer-mobile: 0vw 0vw 3vw 0 rgba(0, 0, 0, 0.6), inset 4vw 4vw 4vw 0 rgba(255, 255, 255, 0.25), inset -4vw -4vw 2vw 0 rgba(0, 0, 0, 0.4);

    --box-shadow-inner-small: 0 -0.2vw 0.7vw 0 rgba(255, 255, 255, 0.1), 0 0 0.4vw 0 rgba(255, 255, 255, 0.05), inset 0 -0.6vw 0.5vw 0 rgba(0, 0, 0, 0.1), inset 0.6vw 0 0.5vw 0 rgba(0, 0, 0, 0.4);
    --box-shadow-inner-mobile: 0.5vw -0.2vw 0.5vw 0 rgba(255, 255, 255, 0.1),inset -0.5vw -1vw 2vw 0 rgba(255, 255, 255, 0.15), inset 0 1vw 0.5vw 0.8vw rgba(0, 0, 0, 0.1), inset 2vw 0 0.6vw 0 rgba(0, 0, 0, 0.2);

    --backdrop-filter-blur-mobile: 0.9vw;
    --backdrop-filter-blur-large: 0.4vw;

    --border-radius-large: 5vw;
    --border-radius-small: 20px;
}

body {
    background-image: url('../../img/bg/bg_1920x1080.png');
    font-size: 4px;
    margin: 0;
    background-color: var(--color-bg); /* Задаем цвет фона */
    background-size: cover; /* Устанавливает размер изображения на покрытие всего экрана */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center center; /* Центрирует изображение */
    background-attachment: fixed; /* Фиксирует изображение относительно видимой области экрана */

    }
.container {
    margin: 0 12vw;
    padding: 4vw 5vw;
    border-radius: var(--border-radius-large);
    backdrop-filter: blur(var(--backdrop-filter-blur-large));
    box-shadow:  var(--box-shadow-outer-large);
    background: hsl(0, 0%, 0%, 0.15);
}

/* Стили для header */
.header {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vw;
    padding: 1.5vw 1.5vw;
    border-radius: 1.5vw;
    box-shadow: var(--box-shadow-inner-small);
    position: relative;
}

.header .logo{
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row;
    align-items: center;
    gap: 1vw;

}
.header .logo .brand-icon {
    width: calc(5em + 1.6vw);
    height: calc(5em + 1.9vw);
    background-image: url('../../img/icon/logo_256.svg'); /* URL изображения */
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */
    filter: drop-shadow(0 0 3em #ff9500) drop-shadow(0 0 2em #ff7d00); /* Эффект тени под иконкой */
}
.header .logo .brand-name {
    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-size: calc(2em + 2.15vw);
    background: var(--color-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hamburger-menu {
    display: none;

}

/*Модальное меню */
.modal-menu {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    gap: calc(2em + 1.2vw);
    /* transition: visibility 0s, opacity 0.5s ease;
    /* visibility: hidden; /* Скрываем модальное меню по умолчанию */
    /* opacity: 0; /* Прозрачность по умолчанию */
}
.modal-menu.open {
    visibility: visible; /* Показываем модальное меню */
    opacity: 1; /* Устанавливаем непрозрачность */
}

.menu-nav {
    display: flex;
    flex-direction: row;
    gap: calc(2em + 0.75vw);
}
.menu-nav a {
    text-decoration: none;
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 120%;
    letter-spacing: 0.08em;
    font-variant: small-caps;
    font-size: calc(0.5em + 0.95vw);
    color: var(--color-text-primary);
}
.lang-switch {
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */

    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    font-variant: small-caps;
    color: #black;
    cursor: pointer;

    border-radius: 0.75vw;
    border-style: none;
    background: var(--color-text-orange);

    width: calc(1.5em + 0.9vw);
    height: calc(1.5em + 0.9vw);
    font-size: calc(1.5em + 0.35vw);
}

/* Контент  страницы */
.content {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: column; /* Располагаем полоски по вертикали */
    align-items: center;
    width: 100%;
    gap: 5vw;

}

.page-title {
    font-family: 'SofiaSans-ExtraLight', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.15em;
    font-variant: small-caps;
    font-size: calc(5em + 4vw);
    color: var(--color-text-primary);


}


/* Контент Блог страница */
.blocks-blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
}
.article-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    width: 14vw;
    border-radius: 1vw;
    gap: 2vw;
    box-shadow: var(--box-shadow-inner-small);

}
.article-img {
    width: 12vw;
    height: 12vw;
    border-radius: 1vw;
    background: rgba(255, 255, 255, 0.65);
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */

}
.article-title {
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 115%;
    letter-spacing: 0.12em;
    font-size: calc(1em + 0.78vw);
    color: var(--color-text-secondary);
}
.article-title p {
    max-width: 12vw;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:2;
	overflow: hidden;
	text-align: center;
}

.article-img[data-img="1"] {
    background-image: url('../../img/blog/1.webp'); /* URL изображения */

}
.article-img[data-img="2"] {
    background-image: url('../../img/blog/2.webp'); /* URL изображения */

}
.article-img[data-img="3"] {
    background-image: url('../../img/blog/3.webp'); /* URL изображения */

}
.article-img[data-img="4"] {
    background-image: url('../../img/blog/4.webp'); /* URL изображения */

}
.article-img[data-img="5"] {
    background-image: url('../../img/blog/5.webp'); /* URL изображения */

}
.article-img[data-img="6"] {
    background-image: url('../../img/blog/6.webp'); /* URL изображения */

}

/* Стили для пагтнации */
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2vw 1vw;
    width: auto;
    height: 0.5vw;
    border-radius: 0.4vw;
    box-shadow: var(--box-shadow-inner-small);
    gap: 0.2vw
}
.first-page, .last-page, .prev-page, .next-page {
    background-color: #00000000;
    color: var(--color-text-orange);
    padding: 0.3vw;
    cursor: pointer;
    border-style: none;
}
.first-page:hover, .last-page:hover, .prev-page:hover, .next-page:hover {
    background-color: var(--color-text-orange);
    color: var(--color-text-primary);
}
.page-numbers {
    display: flex;
    align-items: center;
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 90%;
    font-size: calc(1em + 0.78vw);

}
.page-number {
    color: var(--color-text-primary);
    padding: 0.4vw 0.6vw;
    margin: 0 0.5vw;
    cursor: pointer;
}
.page-number.active {
    background-color: var(--color-text-orange);
    color: black;
    border-radius: 20%;
}
.page {
    display: none;

}
.page.active {
    display: block;

}
.pagination-icon {
    width: calc(1em + 0.78vw);
    height: calc(1em + 0.78vw);
}

/* Разделительная полоса */
.spread-line {
    width: 100%;
    height:0.3vw;
    border-radius: 1vw;
    box-shadow: var(--box-shadow-inner-small);
}

/* Стили для подвала */
.footer {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    justify-content: center;
    width: 100%;
    margin: 5vw 0;
    gap: 5vw;
}

.footer .logo {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
}
.footer .logo .brand-icon {
    width: calc(3em + 1.6vw);
    height: calc(3em + 1.9vw);
    background-image: url('../../img/icon/logo_256.svg'); /* URL изображения */
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */
    filter: drop-shadow(0 0 3em #ff9500) drop-shadow(0 0 2em #ff7d00); /* Эффект тени под иконкой */
}
.footer .logo .brand-name {
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-size: calc(2em + 1.15vw);
    background: var(--color-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer p {
    font-family: 'SofiaSans-SemiBold', sans-serif; /* Применение шрифта */
    line-height: 117%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    font-size:calc(1em + 0.55vw);
    color: var(--color-text-primary);

}

.cont-info {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: column; /* Располагаем полоски по вертикали */
    align-items: flex-start; /* Выравниваем элементы по вертикали по центру */
    justify-content: center;
    gap: 0.5vw;
}
.location, .cont-num {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    gap: 0.2vw;
}
.cont-icon {
    display: none;

}
.social-icons {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
}
.soc-icon {
    fill: var(--color-text-primary);
    width: calc(3em + 1.6vw);
    height: calc(3em + 1.9vw);
    }

/* Для экранов шириной 320px - 480px  (Высота экрана: 480px - 800px)*/
@media (max-width: 640px) {
    body {
        background-image: url('../../img/bg/bg_360x800.png'); /* Замените 'your-image-url.jpg' на URL вашего изображения */
        overflow: auto;


    }
    .container {
        margin: 0;
        padding: 4vw 5vw;
        backdrop-filter: blur(var(--backdrop-filter-blur-mobile));
        box-shadow:  var(--box-shadow-outer-mobile);
    }

    /* Стили для header */
    .header {
        flex-direction: column-reverse;
        align-items: center;
        box-shadow: none;

    }
    .header .logo {
        flex-direction: column;
        gap: 2vw;

    }
    .header .logo .brand-icon {
    width: calc(2em + 12.15vw);
    height: calc(2em + 12.15vw);
    filter: drop-shadow(0 0 16px #ff9500) drop-shadow(0 0 8px #ff7d00); /* Эффект тени под иконкой */
    }
    .header .logo .brand-name {
        font-size: calc(4em + 6.15vw);

    }

    .header .hamburger-menu {
        display: block;
        margin-left: auto;
        margin-right: calc(1em + 1.1vw);
        transition: visibility 0s, opacity 0.5s ease;
    }
    .hamburger-icon {
        width: calc(5em + 5.7vw);
        height: calc(5em + 5.7vw);
        fill:  var(--color-text-orange); /* Цвет полоски */
        }
    .hamburger-menu.hidden {
        display: none; /* Скрываем hamburger-menu */

    }

    /*Модальное меню */
    .modal-menu {
        display: flex; /* Используем flexbox для расположения элементов */
        flex-direction: column; /* Располагаем элементы по горизонтали */
        position: fixed;
        transition: visibility 0s, opacity 0.5s ease;

        width: 100%;
        height: 100vh;
        top: 0;
        padding-top: 15vh;
        background-image: url('../../img/bg/bg_360x800.png');
        background-color: var(--color-bg); /* Задаем цвет фона */
        background-size: cover; /* Устанавливает размер изображения на покрытие всего экрана */
        background-repeat: no-repeat; /* Изображение не повторяется */
        background-position: center center; /* Центрирует изображение */
        background-attachment: fixed; /* Фиксирует изображение относительно видимой области экрана */
        overflow: auto; /* Включаем прокрутку внутри модального окна */

        z-index: 1000;
        visibility: hidden; /* Скрываем модальное меню по умолчанию */
        opacity: 0; /* Прозрачность по умолчанию */
    }
    .modal-menu.open {
        visibility: visible; /* Показываем модальное меню */
        opacity: 1; /* Устанавливаем непрозрачность */
        }
    .modal-content {
        display: flex; /* Используем flexbox для расположения элементов */
        flex-direction: column; /* Располагаем элементы по горизонтали */
        align-items: center; /* Выравниваем элементы по вертикали по центру */
        position: relative;
        box-shadow:  var(--box-shadow-inner-mobile);
        background-color: rgba(0, 0, 0, 0.4);
        width: 60vw;
        padding: 5vw;
        border-radius: 2vw;
        gap: calc(2em + 1.2vw);
    }
    .menu-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(2em + 3.75vw);
    }
    .menu-nav a {
        font-size: calc(2em + 3.95vw);
        color: var(--color-text-primary);
    }
    .lang-switch {
        display: flex; /* Включаем Flexbox */
        justify-content: center; /* Горизонтальное центрирование */
        align-items: center; /* Вертикальное центрирование */

        font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
        font-variant: small-caps;
        color: #black;
        cursor: pointer;

        border-radius: 4vw;
        border-style: none;
        background: var(--color-text-orange);

        width: calc(1.5em + 3.9vw);
        height: calc(1.5em + 3.9vw);
        font-size: calc(1.5em + 2.35vw);
    }

    .close-button {
      position: relative; /* Используем относительное позиционирование */
      width: 9em; /* Ширина всего меню */
      height: 9em; /* Высота всего меню */
      cursor: pointer; /* Курсор меняется на указатель при наведении */
    }
    .close-button .bar-1, .close-button .bar-2 {
      position: absolute; /* Абсолютное позиционирование полосок */
      top: 50%; /* Центрируем полоски по вертикали */
      left: 50%; /* Центрируем полоски по горизонтали */
      width: calc(5em + 1.0vw);
      height: 1em; /* Высота полосок (их длина) */
      background: var(--color-text-primary); /* Цвет полосок */
      border-radius: 3px; /* Скругление углов полосок */
      transform-origin: center; /* Центрируем точку вращения */
    }
    .close-button .bar-1 {
      transform: translate(-50%, -50%) rotate(45deg); /* Поворачиваем полоску на 45 градусов и центрируем */

    }
    .close-button .bar-2 {
      transform: translate(-50%, -50%) rotate(-45deg); /* Поворачиваем полоску на -45 градусов и центрируем */

    }

    /* Контент Блог страница */
    .blocks-blog {
        gap: 10vw;

    }
    .article-block {
        padding: 2.5vw;
        width: 35vw;
        border-radius: 2vw;
        gap: 4vw;
        background: radial-gradient(black, transparent);
    }
    .article-img {
        width: 30vw;
        height: 30vw;
    }
    .article-title {
        font-size: calc(2em + 1.38vw);

    }
    .article-title p {
        max-width: 30vw;

    }

    /* Стили для пагтнации */
    .pagination {
        background: rgba(0, 0, 0, 0.2);
        margin-top: 5vw;
        padding: 0 2.5vw;
        width: auto;
        height: auto;
        border-radius: 1vw;
        gap: 10vw
    }
    .first-page, .last-page, .prev-page, .next-page {
        margin: 1vw 0;

    }
    .first-page:hover, .last-page:hover, .prev-page:hover, .next-page:hover {
        background-color: initial;
        color: var(--color-text-orange);
}
    .page-numbers {
    display: none

    }
    .pagination-icon {
        width: calc(2.5em + 2.6vw);
        height: calc(2.5em + 2.7vw);
    }

    /* Разделительная полоса */
    .spread-line {
        width: 100%;
        height:0.8vw;
        border-radius: 2vw;
        box-shadow: var(--box-shadow-inner-small);
    }

    /* Стили для подвала */
    .footer {
        flex-direction: column;
        margin-top: 5vw;
        gap: 2vw;
    }

    .footer .logo {
        flex-direction: column;
        gap: 0.8vw;
    }
    .footer .logo .brand-icon {
        width: calc(2.5em + 3.6vw);
        height: calc(2.5em + 3.7vw);
        filter: drop-shadow(0 0 1em #ff9500) drop-shadow(0 0 0.4em #ff7d00); /* Эффект тени под иконкой */
    }
    .footer .logo .brand-name {
        font-size: calc(2em + 3.15vw);

    }

    .footer p {
        font-size:calc(1em + 2.35vw);

    }

    .cont-info {
        flex-direction: row;
        align-items: center; /* Выравниваем элементы по вертикали по центру */
        gap: 0.5vw;
    }
    .cont-icon {
        display: none;

    }
    .soc-icon {
        width: calc(2.5em + 4.6vw);
        height: calc(2.5em + 4.7vw);
        margin-top: 2vw;
        }

}


/* Для экранов шириной 641px - 1200px (Высота экрана: 1024px - 1366px)*/
@media (min-width: 641px) and (max-width: 1200px) {
    body{
        background-image: url('../../img/bg/bg_1280x720.png'); /* Замените 'your-image-url.jpg' на URL вашего изображения */

    }
    .container {
        padding: 11em 7em;

    }

/* Стили для header */
    .header {
        align-items: flex-end;
        justify-content: center;
        position: relative;

    }
    .header .logo {
        gap: 2vw;

    }
    .header .logo .brand-name {
        font-size: calc(1em + 3.15vw);

    }
    .header .logo .brand-icon {
    width: calc(2em + 4.15vw);
    height: calc(2em + 4.15vw);
    filter: drop-shadow(0 0 16px #ff9500) drop-shadow(0 0 8px #ff7d00); /* Эффект тени под иконкой */
    }
    .header .hamburger-menu {
    width: calc(6em + 3.0vw);
    height: calc(4em + 3.3vw);
    margin-left: auto;
    margin-right: calc(2em + 2.1vw);
    }
    .header .hamburger-menu .bar {
        height: calc(1em + 0.16vw);

    }

/* Стили модалки */
    .modal-menu {
        height: auto; /* Автоматическая высота */
        gap: calc(1em + 1.5vw);
        transition: visibility 0.5s, opacity 0.5s ease;
        position: absolute;
        top: 150%; /* Позиционируем модальное меню под заголовком */
    }
    .modal-menu.open {
        visibility: visible; /* Показываем модальное меню */
        opacity: 1; /* Устанавливаем непрозрачность */

    }
    .menu-nav {
        gap: calc(5em + 0.5vw);
    }
    .menu-nav a {
        text-align: center;
        font-size: calc(3em + 1.2vw);

    }
    .lang-switch {
        width: calc(2em + 1.1vw);
        height: calc(2em + 1.1vw);
        font-size: calc(2em + 0.75vw);

    }

/* Стили контента страницы */
    .content {
        margin-top: 10vw;

    }
    .blocks-exercise {
        align-items: center;

    }
    .exercise-block {
        flex-direction: column;
        align-items: center;

    }
    .exercise-img {
        width: 45vw;
        height: 45vw;
    }
    .exercise-title {
        width: 55vw;
        font-size: calc(8em + 1.75vw);

    }

/* Стили подвала */
    .footer {
        justify-content: center;

    }

    .footer .logo .brand-name {
        font-size: calc(2em + 2.15vw);

    }
    .footer p {
        font-size:calc(2em + 0.55vw);

    }
    .cont-icon {
        display: none;

    }
    .footer .social-icons .soc-icon {
        width: calc(4em + 1.78vw);
        height: calc(4em + 1.5vw);
    }

}

