@font-face {
    font-family: 'SofiaSans-ExtraLight'; /* Name of font */
    src: url('../../fonts/SofiaSans-ExtraLight.woff2') format('woff2'); /*source url */
    font-weight: 200; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-Light'; /* Name of font */
    src: url('../../fonts/SofiaSans-Light.woff2') format('woff2'); /*source url */
    font-weight: 300; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-SemiBold'; /* Name of font */
    src: url('../../fonts/SofiaSans-SemiBold.woff2') format('woff2'); /*source url */
    font-weight: 600; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-Bold'; /* Name of font */
    src: url('../../fonts/SofiaSans-Bold.woff2') format('woff2'); /*source url */
    font-weight: 700; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-ExtraBold'; /* Name of font */
    src: url('../../fonts/SofiaSans-ExtraBold.woff2') format('woff2'); /*source url */
    font-weight: 800; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}
@font-face {
    font-family: 'SofiaSans-Black'; /* Name of font */
    src: url('../../fonts/SofiaSans-Black.woff2') format('woff2'); /*source url */
    font-weight: 900; /* check prop of fonts for this param */
    font-style: normal; /* needed style */
    font-display: swap; /* to render text if the font file is not loaded */
}


:root {
    --color-bg: #000000;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #EDEAE8;
    --color-text-orange: #FF9447;
    --color-text-gradient: linear-gradient(137deg, #ff9447 0%, #ff510b 100%);

    --box-shadow-large: 12px 8px 15px 0 rgba(0, 0, 0, 0.5), inset 14px 14px 20px 0 rgba(255, 255, 255, 0.25), inset -14px -14px 10px 0 rgba(0, 0, 0, 0.6);
    --box-shadow-small: 6px 4px 8px 0 rgba(0, 0, 0, 0.5), inset 4px 4px 6px 0 rgba(255, 255, 255, 0.25), inset -7px -7px 5px 0 rgba(0, 0, 0, 0.6);

    --border-radius-large: 40px;
    --border-radius-small: 20px;
}

body {
    font-size: 4px;
    margin: 0;
    background-color: var(--color-bg); /* Задаем цвет фона */
    background-size: cover; /* Устанавливает размер изображения на покрытие всего экрана */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center center; /* Центрирует изображение */
    background-attachment: fixed; /* Фиксирует изображение относительно видимой области экрана */

    }
.container {
    margin-top: 3vw;
    margin-left: 6vw;
    margin-right: 6vw;
    border-radius: var(--border-radius-large);
    backdrop-filter: blur(6px);
    box-shadow:  var(--box-shadow-large);
    background: hsl(0, 0%, 0%, 0.15);
}

/* Стили для header-main */
.header-main {
    display: flex; /* Используем flexbox для расположения элементов */
    align-items: flex-end;
    justify-content: center;
}
.header-main .hamburger-menu {
    display: flex; /* Используем flexbox для расположения полосок */
    flex-direction: column; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Распределяем полоски равномерно с пробелами между ними */
    align-items: center; /* Выравниваем полоски по горизонтали по центру */
    cursor: pointer; /* Курсор меняется на указатель при наведении */
    width: calc(6em + 1.0vw);
    height: calc(4em + 1.1vw);
    margin-left: auto;
    margin-right: calc(2em + 2.1vw);
}
.header-main .hamburger-menu .bar {
    width: 100%; /* Ширина полоски */
    height: 1em; /* Высота полоски */
    background: var(--color-text-gradient); /* Цвет полоски */
    border-radius: 3px; /* Скругление углов полоски */
}
.hamburger-menu.hidden {
    display: none; /* Скрываем hamburger-menu */

}

/*Модальное меню */
.modal-menu {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    height: calc(4em + 2.1vw);
    margin-right: 2vw;
    padding: 0;
    width: 60vw;
    gap: calc(2em + 0.5vw);
    transition: visibility 0s, opacity 0.5s ease;
    visibility: hidden; /* Скрываем модальное меню по умолчанию */
    opacity: 0; /* Прозрачность по умолчанию */
}
.modal-menu.open {
    visibility: visible; /* Показываем модальное меню */
    opacity: 1; /* Устанавливаем непрозрачность */
}

.menu-nav {
    display: flex;
    flex-direction: row;
    gap: calc(2em + 1.2vw);
}
.menu-nav a {
    text-decoration: none;
    font-family: 'SofiaSans-ExtraBold', sans-serif; /* Применение шрифта */
    line-height: 120%;
    letter-spacing: 0.08em;
    font-variant: small-caps;
    font-size: calc(3em + 1.2vw);
    color: var(--color-text-primary);
}
.lang-switch {
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */

    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 120%;
    letter-spacing: 0.08em;
    font-variant: small-caps;
    color: var(--color-text-primary);
    cursor: pointer;

    border-radius: 40px;
    background: var(--color-text-gradient); /* Цвет полоски */

    width: calc(3em + 1.1vw);
    height: calc(3em + 1.1vw);
    font-size: calc(2em + 0.75vw);
}

.close-button {
  position: relative; /* Используем относительное позиционирование */
  width: 9em; /* Ширина всего меню */
  height: 9em; /* Высота всего меню */
  cursor: pointer; /* Курсор меняется на указатель при наведении */

}
.close-button .bar-1, .close-button .bar-2 {
  position: absolute; /* Абсолютное позиционирование полосок */
  top: 50%; /* Центрируем полоски по вертикали */
  left: 50%; /* Центрируем полоски по горизонтали */
  width: calc(5em + 1.0vw);
  height: 1em; /* Высота полосок (их длина) */
  background: var(--color-text-primary); /* Цвет полосок */
  border-radius: 3px; /* Скругление углов полосок */
  transform-origin: center; /* Центрируем точку вращения */
}
.close-button .bar-1 {
  transform: translate(-50%, -50%) rotate(45deg); /* Поворачиваем полоску на 45 градусов и центрируем */

}
.close-button .bar-2 {
  transform: translate(-50%, -50%) rotate(-45deg); /* Поворачиваем полоску на -45 градусов и центрируем */

}

/* Контент  главной страницы */
.content {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: column; /* Располагаем полоски по вертикали */
    align-items: center;
    margin-top: 5vw;
    width: 100%;

}

.brand {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: column; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    margin-top: 7vw;
    gap: 4vw;
}
.brand-icon {
    width: calc(18em + 14.5vw);
    height: calc(18em + 14.5vw);
    background-image: url('../../img/icon/logo_256.svg'); /* URL изображения */
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */
    filter: drop-shadow(0 0 40px #ff9500) drop-shadow(0 0 16px #ff7d00); /* Эффект тени под иконкой */
}
.brand-txt {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: column; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по правому краю */
}
.brand-name {
    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    font-size: calc(3em + 10.2vw);
    background: var(--color-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.brand-slogan {
    font-family: 'SofiaSans-Black', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-size: calc(3em + 3.75vw);
    color: var(--color-text-orange);

}

.dynamic {
    display: flex; /* Используем flexbox для расположения полосок */
    align-items: center; /* Выравниваем полоски по горизонтали по центру */
    justify-content: center;
    min-height: calc(7em + 4.75vw);
    margin-top: 10vw;

}
.dynamic-txt {
    font-family: 'SofiaSans-ExtraLight', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.03em;
    font-variant: small-caps;
    font-size: calc(6em + 4.25vw);
    text-align: right;
    color: var(--color-text-secondary);
}

.description {
    display: flex; /* Используем flexbox для расположения полосок */
    align-items: center; /* Выравниваем полоски по горизонтали по центру */
    justify-content: center;
    margin: 20vw 10vw 0 10vw;
}
.description p {
    font-family: 'SofiaSans-Bold', sans-serif; /* Применение шрифта */
    line-height: 117%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    font-size: calc(2em + 1.25vw);
    color: var(--color-text-primary);
    text-align: center;
}


/* Стили для подвала */
.footer {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    width: 100%;
    margin-top: 20vw;
    gap: 5vw;
}

.footer .logo {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row;
    align-items: center;
    gap: 0.8vw;
}
.footer .logo .brand-icon {
    width: calc(3em + 2.6vw);
    height: calc(3em + 2.9vw);
    background-image: url('../../img/icon/logo_256.svg'); /* URL изображения */
    background-size: cover; /* Изображение полностью покрывает элемент */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center; /* Центрируем изображение */
    filter: drop-shadow(0 0 16px #ff9500) drop-shadow(0 0 8px #ff7d00); /* Эффект тени под иконкой */
}
.footer .logo .brand-name {
    font-family: 'SofiaSans-SemiBold', sans-serif; /* Применение шрифта */
    line-height: 100%;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-size: calc(2em + 2.15vw);
    background: var(--color-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer .cont-info {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    justify-content: center;
    gap: 3vw;
}
.footer .cont-info .location {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    gap: 0.5vw;
}
.footer .cont-info .cont-num {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    gap: 0.5vw;
}
.footer .cont-info .cont-icon {
    width: calc(2em + 1.0vw);
    height: calc(2em + 1.2vw);
    fill: var(--color-text-secondary);
}

.footer p {
    font-family: 'SofiaSans-SemiBold', sans-serif; /* Применение шрифта */
    line-height: 117%;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    font-size:calc(1em + 0.75vw);
    color: var(--color-text-primary);

}

.footer .social-icons {
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: row; /* Располагаем полоски по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
}
.footer .social-icons .soc-icon {
        fill: var(--color-text-primary);
        width: calc(3em + 2.6vw);
        height: calc(3em + 2.9vw);
    }

/* Для экранов шириной 320px - 480px  (Высота экрана: 480px - 800px)*/
@media (max-width: 480px) {
    body {
        background-image: url('../../img/bg/bg_360x800.png'); /* Замените 'your-image-url.jpg' на URL вашего изображения */

    }
    .container {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 3vw;
        padding: 6em 3em;
    }

/* Стили для header-main */
    .header-main {
        flex-direction: column-reverse;
        align-items: center;

    }

    .header-main .hamburger-menu .bar {
        height: calc(0.6em + 0.1vw);

    }

/* Стили модалки */
    .modal-menu {
        flex-direction: column; /* Располагаем элементы по горизонтали */
        height: auto; /* Автоматическая высота */
        margin-top: 5vw;
        padding: 6vw;
        top: 0;
        gap: calc(5em + 3.5vw);
        background-color: hsl(248, 40%, 15%, 0.95);
        border-radius: var(--border-radius-small);
        transition: visibility 0.5s, opacity 0.5s ease;
        position: fixed;
        z-index: 1000;
    }
    .menu-nav {
        flex-direction: column;
        gap: calc(8em + 1.2vw);
    }
    .menu-nav a {
        text-align: center;

    }
    .lang-switch {
        width: calc(3em + 1.1vw);
        height: calc(3em + 1.1vw);
        font-size: calc(2em + 0.75vw);

    }


/* Стили контента страницы */
    .brand-icon {
    width: calc(18em + 10.5vw);
    height: calc(18em + 10.5vw);
    filter: drop-shadow(0 0 20px #ff9500) drop-shadow(0 0 6px #ff7d00); /* Эффект тени под иконкой */
    }

    .description {
    margin: 20vw 4vw 0 4vw;

}

/* Стили подвала */
    .footer {
        flex-direction: column;
        gap: 3vw;

    }

    .footer .logo .brand-name {
        font-size: calc(2em + 2.15vw);

    }
    .footer p {
        font-size:calc(2em + 0.55vw);

    }
    .cont-icon {
        display: none;

    }
    .footer .social-icons .soc-icon {
        width: calc(4em + 1.78vw);
        height: calc(4em + 1.5vw);
    }


}

/* Для экранов шириной 481px - 768px (Высота экрана: 800px - 1280px)*/
@media (min-width: 481px) and (max-width: 768px) {
    body{
        background-image: url('../../img/bg/bg_1280x720.png'); /* Замените 'your-image-url.jpg' на URL вашего изображения */

    }
    .container {
        padding: 11em 7em;

    }

/* Стили для header-main */
    .header-main {
        flex-direction: column-reverse;
        align-items: center;

    }
    .header-main .hamburger-menu {
        width: calc(12em + 1.0vw);
        height: calc(8em + 1.1vw);
    }
    .header-main .hamburger-menu .bar {
        height: calc(0.5em + 0.6vw); /* Высота полоски */
    }

    .modal-menu {
        flex-direction: column; /* Располагаем элементы по горизонтали */
        height: auto; /* Автоматическая высота */
        margin-top: 5vw;
        padding: 6vw;
        top: 0;
        gap: calc(5em + 3.5vw);
        background-color: hsl(248, 40%, 15%, 0.95);
        border-radius: var(--border-radius-small);
        transition: visibility 0.5s, opacity 0.5s ease;
        position: fixed;
        z-index: 1000;
    }
    .menu-nav {
        flex-direction: column;

    }
    .menu-nav a {
        text-align: center;

    }
    .lang-switch {
        width: calc(3em + 0.2vw);
        height: calc(3em + 0.2vw);
        font-size: calc(2em + 0.9vw);

    }

/* Стили контента страницы */
    .brand-icon {
        width: calc(18em + 10.5vw);
        height: calc(18em + 10.5vw);
    }

    .description {
    margin: 20vw 7vw 0 7vw;

}

/* Стили подвала */
    .footer {
        flex-direction: column;
        gap: 3vw;

    }

    .footer .logo .brand-name {
        font-size: calc(2em + 2.15vw);

    }
    .footer p {
        font-size:calc(2em + 0.55vw);

    }
    .cont-icon {
        display: none;

    }

}

/* Для экранов шириной 769px - 1024px (Высота экрана: 1024px - 1366px)*/
@media (min-width: 769px) and (max-width: 1024px) {
    body{
        background-image: url('../../img/bg/bg_1280x720.png'); /* Замените 'your-image-url.jpg' на URL вашего изображения */

    }
    .container {
        padding: 52px 32px;

    }

/* Стили для header-main */
    .header-main {
        justify-content: flex-end;

    }
    .header-main .hamburger-menu {
        width: calc(12em + 1.0vw);
        height: calc(8em + 1.1vw);
    }
    .header-main .hamburger-menu .bar {
        height: calc(1em + 0.4vw); /* Высота полоски */

}


    .modal-menu {
        justify-content: flex-end;
        right: auto;
        margin-right: calc(2em + 2.1vw);
        gap: calc(3em + 1.5vw);
    }
    .menu-nav a {
        font-size: calc(0.5em + 1.6vw);

    }
    .close-button .bar-1, .close-button .bar-2 {
        width: calc(4em + 1.0vw);

    }
    .lang-switch {
        width: calc(2em + 1.1vw);
        height: calc(2em + 1.1vw);
        font-size: calc(2em + 0.75vw);
    }

    .content .description p {
        font-size: calc(8px + 1.55vw);

    }


    .footer {
        justify-content: center;

    }
    .footer .logo .brand-icon {
        filter: drop-shadow(0 0 16px #ff9500) drop-shadow(0 0 10px #ff7d00); /* Эффект тени под иконкой */

    }
}


/* Для экранов шириной 1025px и больше  (Высота экрана: 768px - 1600px и выше)*/
@media (min-width: 1025px) {
    body{
        background-image: url('../../img/bg/bg_1920x1080.png'); /* Замените 'your-image-url.jpg' на URL вашего изображения */

    }
    .container {
        backdrop-filter: blur(2em);
        padding: 18em 11em;
    }

/* Стили для header-main */
    .header-main {
        justify-content: flex-end;

    }
    .header-main .hamburger-menu {
        width: calc(12em + 3vw);
        height: calc(8em + 3vw);
    }
    .header-main .hamburger-menu .bar {
        height: calc(2em + 0.3vw); /* Высота полоски */
        border-radius: 1.5em; /* Скругление углов полоски */
    }


    .modal-menu {
        justify-content: flex-end;
        right: auto;
        margin-right: calc(2em + 2.1vw);
        gap: calc(3em + 1.5vw);
    }
    .menu-nav a {
        font-size: calc(0.5em + 1.6vw);

    }
    .close-button .bar-1, .close-button .bar-2 {
        width: calc(4em + 1.0vw);

    }
    .lang-switch {
        width: calc(2em + 1.1vw);
        height: calc(2em + 1.1vw);
        font-size: calc(2em + 0.75vw);
    }

    .content .description p {
        font-size: calc(8px + 1.55vw);

    }


    .footer {
        justify-content: center;

    }
    .footer .logo .brand-icon {
        filter: drop-shadow(0 0 16px #ff9500) drop-shadow(0 0 10px #ff7d00); /* Эффект тени под иконкой */

    }
    .footer .social-icons .soc-icon {
        fill: var(--color-text-primary);
    }

}
